[2019-09-11 11:07] adw62 opened #435 "test_overlap NaNs"
Hi,

I'm still having issues with the NaNs for the TIP3P water box when doing  test_overlap in TestAbsoluteAlchemicalFactory. I think the NaNs are related to replacing the reaction field as removing this step solves the issue. Also the issue does not seem to appear on the Reference platform, not sure what is going on here.

This is a minimal example:
[code]

Cheers,
Alex

[2019-09-11 14:22] andrrizzi commented on #435
Thanks for the snippet! It looks you're not using the alchemical factory here so I assume the NaN happens with the code in both `master` and `alchemical-regions`?

[2019-09-11 14:34] adw62 commented on #435
Yeah, for me the above snippet is failing in `master` and `alchemical-regions`.

[2019-09-24 13:46] Olllom opened #436 "Barostat support in ThermodynamicState"
Hi,

I would like to use the replica exchange facility for systems that have a `MonteCarloAnisotropicBarostat` or a `MonteCarloMembraneBarostat`.

Right now `ThermodynamicState` only supports the `MonteCarloBarostat` although it looks to me like upgrading it to the other barostat classes should be fairly straightforward.

From what I see in the code the anisotropic barostat should be **supported w

[2019-09-24 14:17] Olllom commented on #436
* anisotropic barostat with equal pressure in all dimensions that are scaled

[2019-09-24 20:11] andrrizzi commented on #436
This is a very welcomed feature, thank you! I'll review the PR shortly.

[2019-09-28 09:35] jchodera opened #440 "Change default integrator tolerance to 1e-6"
The default `single` platform precision in OpenMM can cause issues with constraint convergence when the constraint tolerance is set to the 1e-8 that our `LangevinIntegrator` uses:
https://github.com/openmm/openmm/issues/2380

It may be useful for us to set the default constraint tolerance to 1e-6 instead.

[2019-10-09 16:31] jchodera opened #441 "Extend unit tests for multistate sampler harmonic oscillator tests to ensure that unsampled endstates are tested"
We think there is an issue where unsampled endstates cause issues with SAMS.
cc: https://github.com/choderalab/perses/issues/542

We should extend [this test](https://github.com/choderalab/openmmtools/blob/master/openmmtools/tests/test_sampling.py#L245) to include some unsampled endstates to make sure they are not NaN.

[2019-10-19 14:14] jchodera opened #443 "Travis errors"
I'm cleaning up the travis test failure issues in , and I noticed that there seem to be some [real failures](https://travis-ci.org/choderalab/openmmtools/jobs/599950704#L1007-L1037):
[code]
I'm not sure why these failures don't emit more detailed info, but I'll try to further debug.

[2019-10-26 21:47] jchodera opened #445 "Add some way to configure which ContextCache multistate samplers use"
It appears that there is no way to configure the `ContextCache` that the multistate samplers use. Instead, each `MCMCMove` can optionally be constructed to use its own `ContextCache`, but the `MultiStateSampler` will always [try to use the global context cache when computing energies](https://github.com/choderalab/openmmtools/blob/master/openmmtools/multistate/multistatesampler.py#L1354).

Instead

[2019-10-26 23:21] jchodera commented on #441
@hannahbrucemacdonald : I've implemented a test (#446) that verifies that the `SAMSSampler` works fine with unsampled states.

I know you said you had issues with getting the analyzer to return the correct free energy differences, but I have found no issues with the sampler as written. See the code here for an example of how this works:

https://github.com/choderalab/openmmtools/blob/f25f6f6f0f83b

[2019-10-29 20:28] #441 closed

[2019-10-30 15:03] #436 closed, assigned to nobody

[2019-10-30 15:05] Olllom commented on #324
Added support for the membrane barostat in #437

[2019-10-30 15:31] mrshirts commented on #349
This is something we are currently working on for GROMACS, but it may be a month or two before we've tested things and can share.

[2019-10-30 18:01] Olllom commented on #429
Are you still working on this? Without parallel NetCDF, the storage file is such a pain in the neck.

@jaimergp I can see how storing everything in the same file can be advantageous. At the same time, it complicates more advanced analyses.

In general, access to the storage file is too slow. Just a few examples from our recent Hamiltonian replica exchange simulations of membranes.

- The hardcoded

[2019-10-30 21:00] jchodera commented on #429
I totally agree about the current pain of using the single NetCDF file, and am hoping we can split both the checkpoint files and solute-only files into separate XTC or DCD files, leaving only the smaller numpy arrays in the NetCDF file, without too much pain.

Longer term, we would love to switch to some sort of distributed database that can handle multiple calculations streaming to it at once, bu

[2019-10-31 06:18] EqualAPriori opened #447 "Option to create custom barostats?"
Hi all, thank you for the really interesting work here. I have been studying the tutorials and it looks like there is a nice interface to write general MonteCarlo moves. I wanted to check if I will be able to write custom barostats with the current openmmtools features.

First, my use case (which is admittedly non-standard, I'm experimenting): I want to apply some kind of external potential field

[2019-10-31 06:26] EqualAPriori commented on #447
A sample pseudocode of my current barostating procedure:
`
    boxsizes = np.zeros([nblocks,3])
    TotalAcceptances = 0
    TotalMCMoves = 0
    for iblock in range(0,nblocks):
        logger.info("Starting block {}".format(iblock))
        start = time.time()
        simulation.step(barostatfreq)
        end = time.time()
        logger.info('Took {} seconds for block {}'.format(end-start,iblock

[2019-10-31 10:48] andrrizzi commented on #429
@jaimergp implemented the parallel XTC files and we have now merged them in a separate feature branch (`parallel-writing`). If I remember correctly, it's not in master right now because we didn't observe a substantial speedup over netcdf (see Jaime's timings in #434), although we still need to test it on real calculations and there is much margin of improvement. For example, I think we essentially

[2019-10-31 11:04] andrrizzi commented on #447
Hi @EqualAPriori. I think that should be very possible within the MCMC framework, and the steps you outlined look correct to me.

You probably have done it already, but I'd investigate first if there's a way to implement that through a custom integrator or a custom force. The MCMCMove won't be more efficient than the Python implementation (save maybe a couple of minor optimizations), but if you ma

[2019-11-01 19:01] EqualAPriori commented on #447
Thanks for the feedback -- good to know that the MCMCMove won't be that much more efficient. I've thought of doing it as an integrator, but there were a lot of mechanics that seemed daunting: I was 1) uncertain how to make the integrator potentially change the global variable of another force field; 2) how to stage integrators to only apply at intervals/frequencies. Although for speed purposes it

[2019-11-07 13:22] andrrizzi commented on #447
Sorry for the late answer. I must have missed the notification on your reply.

A global variable of an OpenMM custom force becomes a context parameter (i.e. you can access all the global variables with `context.GetParameters()`, but I'm not aware of any mechanism that you can use to tie them directly to the box size.

Personally, I think the MCMCMove design should be faster to implement so it shou

[2019-11-08 09:47] andrrizzi opened #448 "More intuitive interface to serialize objects to dict"
For now, the serialization system is based on calling directly `__getstate__` and `__setstate__`. We should add `to_dict` and `from_dict` methods.

Note that many objects have `__get/setstate__` methods that accept arguments that can be used to improve performance (e.g. `SamplerState.__getstate__(ingore_velocities=False)`) and should have an equivalent argument in `to/from_dict`.

See also #407.

[2019-11-08 09:57] andrrizzi opened #449 "MPI bug when multiple GPUs are used per calculation"
I wanted to create an issue about this in openmmtools as well since we completed the transfering of the `multistate` code from YANK.

We're still experiencing mixing problem with the latest version of MPI when multiple GPUs are available (see choderalab/yank#1130 and #407). I've added a test to `test_sampling` checking this in #407, but I still haven't figure out the reason for the bug.

I'm sure

[2019-11-09 18:46] jchodera commented on #447
In principle, we could ask for box vectors (and their energy gradients) to be exposed within `CustomIntegrator`.

[2019-11-09 18:49] jchodera commented on #449
That sounds like the best thing to try now that you have a working test! You could use [`git bisect`](https://git-scm.com/docs/git-bisect) to automate this process.  Since the samplers moved from YANK to `openmmtools`, it could be a simple matter of testing the last version of YANK that included the multistate samplers (which presumably still have the bug) and then bisecting between that and 0.20.

[2019-11-15 00:01] EqualAPriori commented on #447
Thanks for all the insights! I've decided to prototype in just python
first. Right now I restrict by barostat move frequency to about every 1000
steps (instead of the typical 25 steps), which is acceptably fast enough
while maintaining a reasonable number of barostat moves over the course of
the simulation lengths that I have. If this is not fast enough then I'll
seek to go with the CustomIntegrat

[2019-11-15 16:24] andrrizzi commented on #447
Great! Closing this to keep the issue tracker clean, but feel free to re-open.

[2019-11-15 16:24] #447 closed

[2019-11-20 16:06] jchodera opened #452 "Travis tests are failing"
Travis tests have started to fail. It looks like this is due to a [string-formatting issue](https://travis-ci.org/choderalab/openmmtools/jobs/614470159#L3230-L3239):
[code]

[2019-11-20 16:08] jchodera commented on #452
This is super weird---no idea why this might be happening.

Maybe we should change from `.format()` to [f-strings](https://realpython.com/python-f-strings/)?

[2019-11-22 21:18] djhuggins commented on #452
Hi John. I found a similar error which I tracked down to the latest version of pymbar returning a string rather than an array for (in my case) Deltaf_ij. May be the problem here?

[2019-11-23 01:21] jchodera commented on #452
@Lnaden @mrshirts @andrrizzi : Any idea how or why the output of pymbar might have suddenly changed?

[2019-11-23 10:13] Lnaden commented on #452
What version of PyMBAR are you running, @djhuggins?

[2019-11-23 20:14] djhuggins commented on #452
@Lnaden I was using pymbar 3.0.4 when this problem occurred. I rolled back to pymbar 3.0.3 and there was no error.

To confirm the error, I was getting "TypeError: string indices must be integers" when attempting to access elements of Deltaf_ij.

[2019-11-23 20:27] jchodera commented on #452
@lnaden: The travis tests recently started failing for `openmmtools` with these weird errors above.

Could something have gone wrong in the [pymbar 3.0.4 release](https://github.com/choderalab/pymbar/releases/tag/3.0.4)?

[2019-12-01 17:17] jchodera commented on #452
@andrrizzi @jaimergp: I'm digging into this now to figure out what's going on, but we'll want to sort these issues out on Monday since it is impacting all of our free energy ecosystem.

[2019-12-01 17:36] jaimergp commented on #452
Took a quick look at the diff between `3.0.3` and `3.0.4`. Some observations:

* Looks like `3.0.4` [uses a `dict` to store the results](https://github.com/choderalab/pymbar/compare/3.0.3...3.0.4#diff-2f68bad712f6798ec69aced2640b2215R218) and returns that.
* `3.0.3` returned [either a tuple or a single value](https://github.com/choderalab/pymbar/compare/3.0.3...3.0.4#diff-2f68bad712f6798ec69aced26

[2019-12-01 17:41] jaimergp commented on #452
Yes, I think that could be indeed the reason.

This is the [test code that is failing](https://github.com/choderalab/openmmtools/blob/master/openmmtools/tests/test_alchemy.py#L1159). As suspected, this will unpack the dictionary keys, instead of the values. That's why you get `str` objects:

[code]

[2019-12-01 17:43] jchodera commented on #452
@jaimergp : Thanks for catching this!

Yikes! There's no way we should have broken the API in a non-backward-compatible manner in a minor bugfix release! I'll create an issue on the `pymbar` issue tracker and we can revert that ASAP.

[2019-12-02 03:36] jslim-furame opened #454 "Bugs in multistateanalyzer.py"
I installed the latest version (0.25.2) of yank, but yank analyze does not work properly.

This is due to "multistateanalyzer.py". Look at the following lines in  "multistateanalyzer.py"

(Deltaf_ij, dDeltaf_ij) = self.mbar.getFreeEnergyDifferences()

(f_k, df_k, H_k, dH_k, S_k, dS_k) = self.mbar.computeEntropyAndEnthalpy()

When I examine "mbar.py", getFreeEnergyDifferences() and computeEntropyAn

[2019-12-02 10:53] Lnaden commented on #454
That was a bug introduced in PyMBAR 3.0.4 which had pulled in changes to the API. I cut a PyMBAR 3.0.5 which reverts the API changes back to the expected behavior and should fix this issue.

Can you do a `conda install -c pymbar` and check if 3.0.5 fixes this? (It might take a couple hours for the version to get through the Conda CDN as of 550 EST)

[2019-12-02 18:33] andrrizzi opened #455 "Make serialization of surface tension backwards compatible"
In #436 we introduced the `surface_tension` attribute to `ThermodynamicState`. In `ThermodynamicState.__setstate__`, we should maintain backwards compatibility and use `serialization.get('surface_tension', None)` rather than `serialization['surface_tension']`.

[2019-12-05 08:20] chemlove opened #456 "Adding customized standard in determining the probability of acceptance for Hamiltonian REMD"
I am new to openmmtools and I try to perform a Hamiltonian-exchange MD with customized standard in determining the probability of acceptance.

For example, I want to add a residue-residue distance to monitor the MD process, and integrate this CV into the Hamiltonian to determine the probability of acceptance in replica exchanges.

As a biginner of enhanced sampling MD, I don't know whether it is m

[2019-12-05 18:33] jaimergp commented on #429
I will write here some of the ideas we got after our talk with @Olllom.

There are performance issues while resuming calculations. All of the replicas accessing the monolithic NetCDF file at the same time becomes a bottleneck. It's not clear if this is due to A) Read operations being blocking, or B) Saturating the IO bandwidth in the machine. @Olllom, could you check this?

If option A) ends up be

[2019-12-08 16:41] andrrizzi commented on #456
Hi @chemlove . I'm not sure I understand your requirements exactly, but I suggest you look at the `CustomCVForce` in OpenMM (http://docs.openmm.org/latest/api-python/generated/simtk.openmm.openmm.CustomCVForce.html#simtk.openmm.openmm.CustomCVForce).

Currently, the simulation doesn't store the CVs, but you could either extend the `MultiStateSampler` and `MultiStateReporter` code to do so or do it

[2019-12-30 15:03] askusay opened #457 "Systems fail to be created with some alchemical bonds"
Hi all,

Thank you for openmmtools...
I am seeing some odd behaviour where systems may randomly be successful/fail in creation depending on what alchemical bonds are specified.

[code]

When create_alchemical_system fails it returns the following exception:
`ValueError: Indices frozenset({16, 18}) in alchemical_bonds cannot be found in the system`

I got the same error when doing this in openmmtoo

[2019-12-30 15:07] andrrizzi commented on #457
Hi @askusay . I haven't looked into this in-depth, but first thing I'd check is whether this is due to H bonds constraints. There shouldn't be any bond terms in the (non-alchemical) OpenMM system for contrained bonds so the factory might complain about this.

[2019-12-30 15:12] askusay commented on #457
Hi @andrrizzi , thank you for the prompt reply, I thought about this as well, but it seems random, I have pasted the full iteration below:
[code]

[2019-12-30 15:42] askusay commented on #457
Hi @andrrizzi, you were spot on, creating a system without constraints removed all but one of the errors for alchemical_bonds,

[code]

Feel free to close this thread if is simply as a result of something I missed

As an aside, could you recommend a possible work around to this? The simulation speed will be halved to accomodate for the unconstrained hydrogen atoms...

Thanks for your help and happ

[2020-01-21 01:05] gideonsimpson opened #458 "Conda Installation Issue"
I was doing a fresh install of anaconda with Python 3 on a MacOS 10.14.6, and I found that while I had no problem installing openmm itself,
[code]
resulted in a compatibility issue that anaconda could not resolve.  I found I had this problem with the 2019.03, 2019.07, and 2019.10 distributions of anaconda.

[2020-01-21 01:07] jchodera commented on #458
You need to include both `conda-forge` and `omnia` channels:
[code]

[2020-01-21 14:18] gideonsimpson commented on #458
Thanks.  Maybe you guys could update https://anaconda.org/omnia/openmmtools to reflect that requirement?

[2020-01-21 14:50] Lnaden commented on #458
We have no control over that install string on anaconda, its auto-generated when we upload the package. The best we can do is have it on our [install instructions](https://openmmtools.readthedocs.io/en/latest/installation.html). Its a bit confusing so I apologize for that, its just the way anaconda reports its packages.

[2020-01-21 16:54] jaimergp commented on #458
Maybe we can link to the documentation in the Anaconda description field?

[2020-01-22 02:57] jchodera commented on #458
Our hope for this is to migrate `openmmtools` and other `omnia` packages over to `conda-forge` as soon as possible, but we're still working with @peastman on establishing a route to do this for the `openmm` dependency.

[2020-02-15 14:33] #457 closed

[2020-02-16 09:36] askusay opened #459 "dampened interactions in alchemical region"
Hello,

I have been doing some testing in OMM_tools and noticed that setting up a part of the protein as an alchemical region massively dampens motions/interactions for this part. Please find attached simulation files and link to Jupyter-notebook for simulation set-up and RMSF analysis.

![RMSF](https://user-images.githubusercontent.com/59225690/74602372-d93eb400-50fb-11ea-85c9-65d7af6a3572.png)

[2020-02-18 15:36] jchodera opened #460 "Fix speed issues with LangevinIntegrator by removing unnecessary constraint steps"
@peastman suggests we remove some extra constraint calls to speed up `LangevinIntegrator`:

cc: https://github.com/openmm/openmm/issues/2532#issuecomment-586650973

@maxentile : Would there be any issues if we did this (if we're not measuring work)?

[2020-02-18 16:04] maxentile commented on #460
I don't think so! To be risk-averse, we erred on the side of including redundant constraint calls by having each R,V,O substep definition be responsible for applying all the constraints it needed, when we were expecting to use this implementation with arbitrary splitting strings. This leads to cases where a substep applies a constraint that was just applied by the previous substep. For any given s

[2020-02-18 18:08] peastman commented on #460
You might want to take a look at http://jianliugroup.pku.edu.cn/paper/paper/constraint.pdf.  They exhaustively test all possible ways of applying constraints to both the velocity verlet and leapfrog versions of this integrator.  For each of them they find there's a few versions that work badly and a lot of versions that work about equally well.  The code in the comment linked above corresponds to

[2020-03-10 17:32] markahix opened #461 "ReplicaExchangeSampler example not working"
[Example for ReplicaExchangeSampler](https://openmmtools.readthedocs.io/en/0.18.1/api/generated/openmmtools.multistate.ReplicaExchangeSampler.html), when followed exactly, produces the following error:

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-19-3603b9dbbdff> in <module>

[2020-03-10 17:42] hannahbrucemacdonald commented on #461
Hey!

Does

`from openmmtools.multistate import ReplicaExchangeSampler`

work without complaint? Otherwise, could you let me know which version of openmmtools you're running?

either using `conda list openmmtools` in the command line, or in python

openmmtools.__version__

[2020-03-10 17:42] Lnaden commented on #461
The examples as part of the class docstring are not exactly complete in the imports, specifically in importing the class itself. They implicitly assume you have already imported the class into the namespace. To make the example work, you have to have the line
[code]
somewhere before the example or in the imports. A PR to update the example would be very welcome (all of the samplers would need a si

[2020-03-10 17:50] markahix commented on #461
Using the import line above, I get the following new error:

ModuleNotFoundError: No module named 'openmmtools.multistate'

From "conda list openmmtools" I get:

# packages in environment at /home/mark/anaconda3:
#
# Name                    Version                   Build  Channel
openmmtools               0.17.0                   py36_0    omnia

Now that I'm seeing this, I'm thinking I need to u

[2020-03-10 17:59] markahix commented on #461
I've tried uninstalling the omnia version and using the conda-forge version, same result.  I've also cloned this repository and installed it locally, giving me version 0.19, and combining that with the import line in the first comment by @hannahbrucemacdonald seems to have gotten me past that issue.

Thanks all!

[2020-03-10 17:59] #461 closed

[2020-04-13 15:12] mjw99 commented on #449
Hi, some comments.

First, looking at the environment file in bug report [here](https://github.com/choderalab/yank/issues/1130), the reporter was using YANK 0.23.7, hence that would narrow the range to 0.20.1<->0.23.7 .

Secondly, I have seen this problem with various explicit solvent YANK calculations that I have run myself over two GPUs. More interestingly, if I run the [hydration-phenol example

[2020-04-21 04:58] jchodera opened #468 "CI tests are failing"
Any idea what is going on @dominicrufa @jaimergp ?

[2020-04-21 06:43] jaimergp commented on #468
There are two issues going on:

* `!` marked tests failed due to to conda timeouts while reading the package metadata. Could be an intermittent issue because other tests did run.
* `X` marked tests failed due to:
    - unmatched arguments [here](https://travis-ci.org/github/choderalab/openmmtools/jobs/677250194#L3190). I doubt OpenMM changed their API so my guess is that whatever list of `paramete

[2020-05-11 06:38] jchodera commented on #468
@jaimergp : Yes, can you do this and invite @dominicrufa @hannahbrucemacdonald and I and others to join?

[2020-05-11 19:55] jaimergp commented on #468
Yes, I'll do! The OFF team is going to discuss details on their migration tomorrow, so I'll make sure we can join that collaborative effort once we agree on what features it could be interesting for the ecosystem.

[2020-05-18 21:34] aclyde11 opened #470 "Writing out coordinates that respect PBCs with MCMC Sampler"
Hello,

I have a naive question...

I want to be able to pull a PDB File out every few steps or so (for some clustering/checking forces on ligand/etc).

For instance, when using a standard OpenMM simulation:
[code]

but when I try it with ```MCMCSampler``` I can't get the periodic boundary conditions enforced in the positions (the PDB is correctly writing out the crystal header, but protein/ligand

[2020-05-18 21:37] aclyde11 commented on #470
It seems from a bit of digging there is an immediate solution with mdtraj #297 , is this still the best way to handle this use case?

[2020-05-19 00:04] jchodera commented on #470
Tagging @andrrizzi who may have some insight as well!

There are two different operations that may be of interest:
1. Wrapping the centers of mass of the molecules into the box (which may still cause the protein to protrude from the box)
2. Imaging the molecules so that the macromolecule is in the central box and any larger non-solvent ligands are in the same periodic image, so that the protein an

[2020-05-19 15:11] aclyde11 commented on #470
@jchodera just 2 is useful. I was able to get going with my work using a link to the code from #297. So no need to rush, but in terms of features/documentation I found it pretty difficult to figure out using MCMC samplers what is the best way to pull out that information.

I think adding #297 would make this package instantly more useable--but again this isn't blocking on my end right now since ma

[2020-05-28 21:01] mrshirts opened #472 "Example for running MPI for ReplicaExchangeSampler?"
Is there a good example for a script that parallelizes the runs generated by ReplicaExchangeSampler over cores via MPI (or other means)?  Note that are systems are small enough (<100 particles) that we don't appear to be getting that much performance benefit of GPU over CPU.   We are having a hard time getting this work.

Thanks!

[2020-05-29 11:34] andrrizzi commented on #472
`ReplicaExchangeSampler` should have automatic detection of MPI and it should parallelize the replicas over MPI processes accordingly. So it should be possible to just run `mpirun [mpirun_options] my_script_with_rex.py`.

To make it run over CPU rather than GPU, you should be able t set the platform in the `ContextCache` object used to generate the OpenMM `Context`s. By default, `ReplicaExchange`

[2020-05-29 14:27] mrshirts commented on #472
Thanks so much for the info! I suspect we will either be running on 1 GPU at a time, or parallelized on CPU's, so we hopefully will be OK.

[2020-05-30 09:13] Exarctus opened #474 "Issue with Hydration Free Energies with OpenMM & OpenMMTools"
Hey guys,

I was recommended to post this issue here by @jchodera.

I've been trying to use openmmtools' alchemy.py code to compute solvation free energies of an ethanol molecule in water. The main issue is that the dV/dl curves that alchemy.py is producing are significantly different from those in the literature, and the resulting free energies are incorrect. They're also not particularly smooth,

[2020-05-31 09:50] Exarctus commented on #474
@jchodera

The issue posted by @askusay here: https://github.com/choderalab/openmmtools/issues/459 might also be related.

[2020-06-01 10:05] andrrizzi commented on #472
Parallelizing over CPU might indeed work since I don't think we have tested the bug on CPUs. So far, however, the problem seems to be with MPI rather than the GPU platform in particular.

[2020-06-03 01:54] ljmartin commented on #474
Hey @Exarctus I'm working on a similar project. Can't run your script at the moment for not having all the packages, but just thought I would chime in with a debugging idea.

There's a fast and simple script that doesn't use openmmtools at http://openmm.org/tutorials/alchemical-free-energy/ - how about changing your script to use the same system and annihilate a single particle? One reason to do t

[2020-06-04 11:09] Exarctus commented on #474
@ljmartin

I don't think it's as simple as a single issue.

Both the electrostatics and vdW components are incorrect - you can see this by comparing the figure in the repository vs figure 6 in the paper I linked, and also compare the dG print-outs in the repository vs. the electrostatic vs. steric decomposition the same authors list in table 2.

https://onlinelibrary.wiley.com/doi/full/10.1002/jcc

[2020-06-09 09:34] Exarctus commented on #474
Has anyone managed to test my code-sample yet?

[2020-06-09 13:12] mjw99 commented on #474
Just a quick comment; that example script has a bug in it and I have emailed John about it.

Around the beginning of the year, I was experimenting with the LJ example, alchemical-example.py, on http://openmm.org/tutorials/alchemical-free-energy/ . I was trying help a student with some examples of free energy calculations within OpenMM. The example would sometimes work, sometimes fail with the pymb

[2020-06-12 09:51] andrrizzi commented on #474
Hi @Exarctus . I see [here](https://github.com/Exarctus/OpenMMSolvation/blob/master/OpenMMSolvation/run_alchemy.py#L62) that you are using the `'direct-space'` option to model PME. You are probably doing it because it is might not possible to compute the derivatives w.r.t. `lambda_electrostatics` with `'exact'` (I'm not sure if OpenMM added the feature to compute parameter derivatives with offset

[2020-06-12 13:35] Exarctus commented on #474
@andrrizzi

thanks for the reply!

Yeah I wasn't quite sure which was the best approach - using alchemical_pme_treatment='exact' indeed doesn't provide derivatives wrt. lambda_electrostatics. I tried switching alchemical_pme_treatment='coulomb' using PME as the non-bonded method, and it gives the following pretty crazy values:

ELECTROSTATICS
lambda <dV/dl>
 1.00 -3003.52
 0.89 -2900.67
 0.78 -267

[2020-06-18 19:38] andrrizzi commented on #474
Unfortunately, no. The reciprocal space is ignored completely in alchemy.py because it is impossible at the moment to implement a force using FFT with a custom force in OpenMM. Using reweighting can help only to correct the end states (we use the nonalchemical system to reweight the endpoints of the alchemical transformation) but it cannot be used to recover the whole free energy profile. Also, we

[2020-07-06 19:37] mrshirts commented on #472
BTW, it's working, but we are still sorting out how to optimize what it does.

[2020-07-06 19:49] mrshirts opened #475 "Is there an "intended" way to rerun a simulation at new alchemical states?"
I'm interested in, after running a simulation, generating the energies at a number of new energy functions  given the configurations I sampled.  openmmtools handles running lots of new alchemical states at the same time as the simulation with the multistate functionality, but in my case I don't know which energy functions to test until after.

I was thinking something like DummyIntegrator was desi

[2020-07-07 20:57] andrrizzi commented on #475
I'm not aware of facilities for performing this task. I would suggest doing the loop, either with OpenMM or OpenMMTools. With the latter, it would probably look something like this (untested code):
[code]
I don't see particular advantages in using openmmtools over openmm in this case anyway.

[2020-07-07 21:15] mrshirts commented on #475
OK, I will try to do this to see how it works!  Seems like a useful thing to have, since one does not always know the unsampled states one desires before running the simulation.

[2020-07-08 14:27] andrrizzi commented on #475
I just realized I could have misunderstood your scenario. If you have to evaluate _each_ sample over _many_ thermodynamic states, OpenMMTools does offer a speedup if you are using the `AlchemicalState`s as they will recompute for the same sample only the parts of the Hamiltonian that change from one state to the other. If this is the case, I can put together an example.

[2020-07-08 17:45] mrshirts commented on #475
We do want to evaluate each sample over multiple states.  It would probably be easiest to treat them as single perturbations of different parameters, (maybe we want to slightly perturb bonds/angles/and torsions, all in the same pass).

Is it possible to lump together a number of alchemical states that are related by different lambdas (i.e. I want to vary the bonds lengths +/- 10%, the bond force c

[2020-07-09 20:36] andrrizzi commented on #475
I just remembered I wrote a section of the advanced tutorial covering exactly this case. Let me know if it helps: https://openmmtools.readthedocs.io/en/0.18.1/devtutorial.html#computing-the-reduced-potential-of-one-configuration-at-multiple-thermodynamic-states

[2020-07-09 20:41] mrshirts commented on #475
Great, I will take a look!

[2020-07-31 19:35] djhuggins opened #477 "Minimization in ReplicaExchangeSampler"
Hello,

I have been using the minimize function in ReplicaExchangeSampler to minimize a set of replicas in different alchemical states like this:

_lsd_move = openmmtools.mcmc.LangevinSplittingDynamicsMove(options)
repex_simulation = ReplicaExchangeSampler(mcmc_moves=lsd_move)
repex_simulation.minimize()_

I am finding a lot of the replicas NaN when the initial structure contains a clash. I tried

[2020-08-01 05:20] jchodera commented on #477
@hannahbrucemacdonald @dominicrufa @jaimergp : Didn't you find a way to change this default behavior? I was under the impression that was backported to `openmmtools.`

[2020-08-03 07:27] hannahbrucemacdonald commented on #477
Hi,

The Fire minimizer has been problematic, I wasn't aware that it was still the default and I can change it back to `LocalEnergyMinimizer` (Linking to issue #394 ) . Thanks for spotting this Dave - I will change it now

[2020-08-03 07:35] hannahbrucemacdonald commented on #477
Sorry I spoke too soon -- it looks like if the Fire integrator nans, then it should fall back to openmm's LocalEnergyMinimizer anyway. What version of openmmtools are you using?

[2020-08-03 14:52] djhuggins commented on #477
Hi Hannah,

I should have been clearer in my initial message. The (FIRE) minimizer completes without NANs. Its the equilibration that then NANs immediately. Looking at the initial and minimized energies for FIRE vs LocalEnergyMinimizer I can see that LocalEnergyMinimizer reduces the energy a LOT more.

Dave

[2020-08-05 13:26] jaimergp commented on #468
Please note that PR #473 implements GHA and is awaiting review.

[2020-08-19 05:03] isjoung opened #478 "ReplicaExchangeSampler test code fails"
Hi,
I tried to run the test code shown in ReplicaExchangeSampler documentation.

[code]

This is the output
[code]

The environment is
MacOS 10.15.5 Catalina
Python 3.7.4 (Clang 4.0.1 Anaconda)
openmmtools 0.20.0 py37_0 omnia

[2020-09-03 19:21] cwalker7 opened #480 "Ensemble validation issue for temperature replica exchange"
I am running temperature replica exchange simulations on small coarse-grained oligomer systems (containing a single chain), and have been using an ensemble validation check on the energies for thermodynamic state pairs. This is from the physical-validation python package (https://physical-validation.readthedocs.io/en/latest/userguide.html#ensemble-validation). I am finding that for a system with 1

[2020-09-03 19:24] cwalker7 commented on #480
My code for running the simulations is something like this:

[code]

[2020-09-03 19:29] mrshirts commented on #480
One comment: in theory, if I recall correctly, it should not be necessary to equilibrate after a  replica switch- it should be equilibrated automatically if the swap is accepted.

[2020-09-05 04:22] mrshirts commented on #480
@jchodera @andrrizzi @hannahbrucemacdonald any thoughts on this?

[2020-09-05 18:10] jchodera commented on #480
Apologies for the long delay in responding to these excellent questions---we're totally bandwidth-saturated in supporting the [COVID Moonshot](http://postera.ai/covid). While we may not be able to look into this ourselves in the short term, we are about to put out a job ad to start recruiting some more software scientists to help maintain our infrastructure and field issues like this, so things wi

[2020-09-05 18:41] mrshirts commented on #480
I totally understand the issues with support here.  We will try LangevinSplittingDynamicsMove  (or @cwalker7 , have you already tried it? I think you tried GHMCMove?

Can you elaborate?  I mean, it literally checks whether the ratio of the sampled distributions at different temperatures are consistent with the Boltzmann distribution.  If it doesn't pass this check, then the statistical mechanics a

[2020-09-05 19:51] jchodera commented on #480
Interesting. Have you compared [`MultiStateSampler`](https://openmmtools.readthedocs.io/en/0.18.1/multistate.html) (same infrastructure, no exchanges) with [`ReplicaExchangeSampler`](https://openmmtools.readthedocs.io/en/0.18.1/multistate.html#replicaexchangesampler-replica-exchange-among-thermodynamic-states)? I'd also compare `replica_mixing_scheme="swap-all"` with `"swap-neighbors"` with `None`

[2020-09-05 20:19] mrshirts commented on #480
#449

@cwalker7 has done some of these things, but not all - @cwalker7 can you see if you can pull together the information on this?

Ah, I see.  So, right now our approach to assume normal error in correct simulations (which seems to be true - we should quantify this more) and look at the chance that deviations are due to random error, as there always will be some statistical deviation for any fi

[2020-09-08 14:58] cwalker7 commented on #480
Ok thank you very much for the comments! I will work on these additional tests today - so far I have tried the GHMCMove, and there is only marginal improvement.

I haven't tried MultiStateSampler yet. One of the above plots shows 'swap-all' vs. 'swap-neighbors' vs None for ReplicaExchangeSampler, and it seems that only 'swap-all' has the issue. I can repeat this test for MultiStateSampler.

For th

[2020-09-08 16:02] jchodera commented on #480
Ok, this suggests something is going on with the compiled swap-all code. Let me take a look

[2020-09-08 17:57] mrshirts commented on #480
This is great to know.  If the spacing is relatively broad, then "swap-neighbors" is not that much worse than "swap-all". So at minimum we can use this approach (though "swap-neighbors" would be good to use).

[2020-09-08 18:03] jchodera commented on #480
@mrshirts can you also take a look at the swap-all code and see if you spot any logic errors? I presume it must either be a messed up array representation or weird compilation issue

[2020-09-08 18:27] mrshirts commented on #480
Basically looking over the code in _mix_replicas in multistate/replicaechange.py (and what gets called there), correct?  Will look over it.  Since both use _attempt_swap, my GUESS is that it's something to do with repeated swaps and the state of the system remaining partially in the pre-swap state - it LOOKS correct on first glance, but if it didn't look correct on first glance it probably would h

[2020-09-08 19:00] jchodera commented on #480
We should be storing the replicas x states reduced potentials, which do not change after a swap. Only the assignment of state indices to replicas changes.

[2020-09-21 21:05] zhang-ivy opened #484 "LangevinSplittingDynamicsMove sometimes nans"
@dominicrufa  and I were trying to run repex on the endstates of a capped amino acid transformation (ALA->THR) (using the new [RepartitionedHybridTopologyFactory in perses](https://github.com/choderalab/perses/blob/blest4/perses/annihilation/relative.py#L2088)) with softened electrostatics, sterics, and torsion. We observed that when we use the `LangevinSplittingDynamicsMove`, the simulation runs

[2020-10-07 13:50] jchodera commented on #480
@mrshirts Any chance you've been able to take a look at `_mix_replicas()`?

@jaimergp : Would you be able to help us sort out what is going on here? Or if there's a simple way we can replace the C extension with an alternative accelerator scheme that may not suffer from this issue?

[2020-10-09 05:34] mrshirts commented on #480
So, we have three states, T0, T1, and T2, with three energies, E0, E1, and E2, where the index on the energy says where they were originally sampled from.

Then the matrix self._energy_thermodynamic_states would be, assuming row/column labels, with [replica, thermodynamic_state]

[  E0/T0  E0/T1  E0/T2 ]
[  E1/T0   E1/T1  E1/T2 ]
[  E2/T0  E2/T1  E2/T2 ]

So that the E labels correspond to replica

[2020-10-21 04:52] jchodera commented on #480
This logic doesn't sound right to me.

Fundamentally, we're dealing with the unnormalized probability density
[code]
where `S = {s_k}` is the permutation of state indices, `s_k` denotes the state index of replica `k`, `u_s(x)` is the reduced potential for snapshot `x`, and `X = {x_k}` is the set of snapshots, where `x_k` denotes the snapshot of replica k.

When we accept or reject a proposal from

[2020-10-21 05:37] jchodera commented on #480
I've made some progress in creating a [numba](https://numba.pydata.org/) `jit` alternative that is just as readable as the original Python version. On 100 states, the timing is
* Python: 9.6 s
* cython: 4.1 s
* numba: 0.04 s

Seems to be worth switching, since it also gets rid of the cython problems we've been having. I'll open a PR.

[2020-10-21 13:48] jaimergp commented on #480
Wow, that's insane!

[2020-10-22 01:39] jchodera commented on #480
@cwalker7 : Thanks so much for your patience---it took a while for me to get to this!

Can you try out the `fix-mixing` branch to see if it resolves this?

[2020-10-22 19:03] jchodera commented on #480
@cwalker7 : I've merged #485 in, so you should give `master` a try instead.

[2020-10-22 19:23] cwalker7 commented on #480
@jchodera Ok I should have the results later this afternoon - thanks for working on this!

[2020-10-23 16:40] jchodera commented on #480
@cwalker7:  Just wondering if this was able to fix things for you! The harmonic oscillator tests seem to be working fine.

[2020-10-23 17:36] cwalker7 commented on #480
This is the result using the numba swap-all. Unfortunately it is about the same deviation from the analytical values as before. Updating the plot above, we see:
![ensemble_check_langevinmove_step10fs_exch_freq100_coll_rate1_vs_mixing_scheme_10_23_20](https://user-images.githubusercontent.com/64790444/97035527-7926ca00-1534-11eb-847d-fd9a136027f1.png)

I haven't yet tried the pure python version.

[2020-10-23 19:39] dlukauskis opened #487 "Demultiplexing RepEx trajectories"
Hi, I'd like to use openmmtools's replica exchange code, but I can't see a way of actually demultiplexing the trajectories and having a look at them. Am I missing something? The docs don't address this point.

Thanks,
Dom

[2020-10-23 20:41] andrrizzi commented on #487
Hi @dlukauskis . The Repex facilities were ported from YANK, but unfortunately we forgot to carry over the utilities to handle the trajectories in the netcdf file. You can take a look at this function https://github.com/choderalab/yank/blob/master/Yank/analyze.py#L1036-L1202 .

[2020-10-24 15:06] corinwagen commented on #484
I've been seeing the exact same error, using a modified version of the ``ReplicaExchange`` class from [this tutorial](https://openmmtools.readthedocs.io/en/0.18.1/gettingstarted.html). I tried increasing ``n_restart_attempts`` to 100 but it didn't help at all!

Here's my (pretty bad) code, almost entirely copied from the tutorial:
[code]

Using the following input file, I only make it through one

[2020-10-24 19:52] jchodera commented on #480
Thanks for the update! I'll continue investigating this.

[2020-10-24 23:05] mrshirts commented on #480
Chris, can you test the pure python version?  I can then try a fix (I think I know how to do it - just have to remember how I did it in GROMACS 7-8 years ago . . . )

[2020-10-25 00:48] jchodera commented on #480
@mrshirts : I still don't understand what you think is wrong. I'm happy to implement it if you have can explain it in the mathematical language we used in the paper (see https://github.com/choderalab/openmmtools/issues/480#issuecomment-713301802)

[2020-10-25 01:20] mrshirts commented on #480
Well, it's clearly wrong since it gives the wrong distributions.  I believe it's a problem of switches not actually carrying along the correct temperature since reduced potentials are being exchanged instead of potentials - it would only occur when the temperatures are different (should be fine with Hamiltonian exchange all at the same T).  I'll code up what I think is wrong since I'm not being cl

[2020-10-25 02:15] jchodera commented on #480
Agreed that this seems to be an issue, though I'd love to have an independent quick test that reproduces the problem.

That makes absolutely no sense to me because we don't store or operate on potentials---we store and operate on reduced potentials, which are `U/(kT)`.

[2020-10-25 02:15] jchodera commented on #480
I can implement a parallel tempering variant of our tests and see if I can reproduce the issue that way.

[2020-10-25 04:56] mrshirts commented on #480
What are the tests that you currently run?  If you only have a Hamiltonian exchange test, then you definitely want a parallel tempering version as well.

[2020-10-25 04:57] mrshirts commented on #480
I'm claiming operating on reduced potentials doesn't actually swap temperatures when you do multiple swaps.   I realize I explained it poorly, I just need to carve out the time to replicate the GROMACS code.  But spending too much time recording lectures for general chemistry.

[2020-10-26 02:12] jchodera commented on #480
The multistate sampling tests are all here!
https://github.com/choderalab/openmmtools/blob/master/openmmtools/tests/test_sampling.py

Check out the [`TestParallelTempering`](https://github.com/choderalab/openmmtools/blob/master/openmmtools/tests/test_sampling.py#L1672).

Swapping the elements of the state indices permutation vector `S` associated with each replica *does* have the effect of swappin

[2020-10-26 12:03] dlukauskis commented on #487
I gave the YANK code a try but I'm getting a metadata-related error:
[code]
Attaching a directory with the exact code I used - [demux_test.zip](https://github.com/choderalab/openmmtools/files/5438601/demux_test.zip)

[2020-10-26 15:31] cwalker7 commented on #480
Pure python version of 'swap-all' gives pretty much the same result as the numba and cython:
![ensemble_check_langevinmove_step10fs_exch_freq100_coll_rate1_vs_mixing_scheme_10_26_20](https://user-images.githubusercontent.com/64790444/97192786-a49cf500-177e-11eb-80a7-42e6492b08fc.png)

[2020-10-26 16:07] mrshirts commented on #480
Perfect, confirms the issue is algorithmic and not code.  Will work on this in pure python version when I can carve out time over the next couple of days.

[2020-10-26 16:34] Lnaden commented on #480
Quick question since its algorithmic. If I recall correctly the `swap-all` algorithm is based on the REPEX Independence Sampling algorithm presented in [this paper](https://aip.scitation.org/doi/10.1063/1.3660669) which states (Section III B 2)

One of the large parts of that `i != j`. In all of the `_mix_all_replicas` code, the random `i` and `j` are chosen by uniform distributions over the `n_re

[2020-10-26 21:46] jchodera commented on #480
If you pick `i = j` to swap, the replica permutation matrix `S` will be unchanged, so the MCMC operation leaves the probability density `p(S | X)` unaffected. This should not cause any population deviations---as long as you have MCMC operations that also sample from the true equilibrium `p(S | X)` mixed in as well.

I'm very puzzled by this, since we just need to sample from `p(S | X)`, and the [`

[2020-10-26 21:48] jchodera commented on #480
@cwalker7 : Are you using `ReplicaExchangeSampler` or `ParallelTemperingSampler` here? I'm wondering if our special-purpose code in `ParallelTemperingSampler` that more efficiently computes the reduced potentials [here](https://github.com/choderalab/openmmtools/blob/master/openmmtools/multistate/paralleltempering.py#L172-L234) may be to blame.

[2020-10-26 21:54] mrshirts commented on #480
I'm pretty sure it's still ReplicaExchangeSampler.  Though maybe Chris should try ParallelTemperingSampler just to check - maybe that fixes things :)

[2020-10-27 14:09] cwalker7 commented on #480
Yeah I have been using ReplicaExchangeSampler. I agree it's worth checking the ParallelTemperingSampler.

[2020-10-27 15:17] cwalker7 commented on #480
@jchodera Seems like ParallelTemperingSampler works! This should definitely narrow things down then:
![ensemble_check_langevinmove_step10fs_exch_freq100_coll_rate1_vs_mixing_scheme_10_27_20](https://user-images.githubusercontent.com/64790444/97321580-69192e00-1845-11eb-90a6-899cb4471cf3.png)
It is also about 13% faster than ReplicaExchangeSampler this case.

[2020-10-27 15:29] jchodera commented on #480
That's odd. Ok, @cwalker7, can you point me to the code that sets up, runs, and analyzes these simulations?

[2020-10-27 15:45] cwalker7 commented on #480
Actually I realized that the temperatures generated from setting the min_temperature, max_temperature in ParallelTemperingSampler do not match the range I provided manually for ReplicaExchangeSampler.

For the ReplicaExchangeSampler I did something like this, where temperature list goes from 200 to 300K over 12 replicas:
[code]

For ParallelTemperSampler I am doing this:

[code]

Somehow, the temp

[2020-10-27 16:17] cwalker7 commented on #480
Going into the parallel tempering code, it actually does return 163.2 to 195.3 given a min of 200 and max of 300.
https://github.com/choderalab/openmmtools/blob/master/openmmtools/multistate/paralleltempering.py#L157-L159.
Looks like it should be this: (added parentheses around (n_temperatures-1))

[code]

[2020-10-27 17:03] jchodera commented on #480
Can you share your complete code, @cwalker7?

[2020-10-27 18:28] cwalker7 commented on #480
Ok @jchodera , so I've added the files used for the above tests to the cg_openmm repo, a python package we are working on for modeling coarse-grained foldamers: https://github.com/shirtsgroup/cg_openmm.

The replica exchange simulation setup is located here:  https://github.com/shirtsgroup/cg_openmm/blob/master/cg_openmm/simulation/rep_exch.py#L434. This currently uses the 'swap-neighbor' setting.

[2020-10-27 21:36] cwalker7 commented on #480
@mrshirts @jchodera Here's a separate branch where I've re-tested the ParallelTemperingSampler with 'swap-all'.  https://github.com/shirtsgroup/cg_openmm/blob/parallel_temper/cg_openmm/simulation/rep_exch.py#L434
This time, I've specified the temperature list explicitly so we can compare directly with the results for ReplicaExchangeSampler. Seems like there is once again no difference. I can post

[2020-10-27 21:51] cwalker7 opened #488 "automatic temperature spacing in ParallelTemperingSampler"
If I specify min_temperature, max_temperature, and n_temperatures when using ParallelTemperingSampler to create a simulation, the temperatures computed in ParallelTemperingSampler here: https://github.com/choderalab/openmmtools/blob/master/openmmtools/multistate/paralleltempering.py#L157-L159 are off.

[code]

For example, setting min_temperature=200K, max_temperature=300K, n_temperatures=12, we g

[2020-10-28 01:16] jchodera commented on #480
@cwalker7 : I'm looking at your comment here, and don't think I understand:
![image](https://user-images.githubusercontent.com/3656088/97378825-87e8e600-1880-11eb-9da0-d8b837990abf.png)

This doesn't make any sense, since the code seems to work as-is:
![image](https://user-images.githubusercontent.com/3656088/97378795-78699d00-1880-11eb-96c4-ae491295498a.png)

[2020-10-28 01:55] jchodera commented on #488
Huh. OK, I can reproduce this locally if I use unit-bearing `min_temperature` and `max_temperature`:
![Uploading image.png…]()

[2020-10-28 01:56] jchodera commented on #488
And also if I apparently don't use units!
![image](https://user-images.githubusercontent.com/3656088/97381326-16139b00-1886-11eb-9182-9c3c46560304.png)

[2020-10-28 01:57] jchodera commented on #488
Fixed by #489

[2020-10-28 02:39] jchodera commented on #480
I've fixed the temperature initialization for `ParallelTemperingSampler` in #148
Still looking into the other issues.

[2020-10-28 03:06] asilveirastx commented on #480
Could it not be the case that MD would require an "equilibration" stage if the changes in temperature are too large? Maybe you could try specifying longer MD sim times between swaps and discard a fraction of steps when performing the check ensemble test.

[2020-10-28 03:08] jchodera commented on #480
@asilveirastx:

The only equilibration that would be necessary is at the very initial burn-in phase. Once the replicas reach equilibrium, it doesn't matter if we take 1 step or 10^6 steps in between the exchanges---the exchange attempts should preserve the equilibrium ensembles.

[2020-10-28 11:23] asilveirastx commented on #480
I think this is 100% true when you use MCMC, but there is no formal proof that this is the case for molecular dynamics. Openmmtools has an implementation of Hybrid Monte Carlo so using HMC instead of MD could also help in discarding any issue with MD.

[2020-10-28 14:12] cwalker7 commented on #488
Looks good now, thanks for fixing.

[2020-10-28 14:34] maxentile commented on #480
Agreed -- Langevin MD, esp. at large stepsizes, can run with a different steady-state velocity distribution than the Maxwell-Boltzmann distribution at the defined temperature. If initialized with an exact equilibrium sample `x`, and an exact velocity sample `.setVelocitiesToTemperature()`, it could require equilibration again to get back to the perturbed distribution of velocities the integrator a

[2020-10-28 15:36] maxentile commented on #480
Although @cwalker7 reported early in this thread that the results are [insensitive to decreasing the stepsize by a factor of 10](https://github.com/choderalab/openmmtools/issues/480#issue-692236875) and that [using GHMC doesn't change the results much](https://github.com/choderalab/openmmtools/issues/480#issuecomment-688935429), which reduces my level of suspicion that this is the main factor.

[2020-10-28 15:58] asilveirastx commented on #480
Thanks @maxentile for pointing that out. @cwalker7 which stepsize did you use for GHMC?

[2020-10-28 16:11] cwalker7 commented on #480
For GHMC I used a 10fs time step, exchange frequency of 100 time steps, collision rate of 1/ps, and the outcome of the ensemble check was similar to the LangevinDynamicsMove.

On the other hand, increasing the time interval between exchanges or increasing the collision rate do significantly improve the agreement with the analytical ratios (see plots 2 and 5 in the first post).

[2020-10-28 16:19] mrshirts commented on #480
Which seems to indicate the something is going wrong with the exchange, and then more equilibration (or more vigorous thermal relaxation) corrects it.

[2020-10-28 16:33] asilveirastx commented on #480
I would try HMC with a smaller time step size as this should also correct an equilibration issue

[2020-10-28 17:14] #488 closed

[2020-10-28 17:15] jchodera opened #490 "Tests failing for nightly OpenMM builds"
Tests are failing with nightly OpenMM builds:
[code]

[2020-10-28 20:17] andrrizzi commented on #487
Yes, that's because YANK stores some metadata with the reference system and the topology. You will have to modify those bits and provide your own OpenMM `Topology` object.

[2020-10-29 13:20] asilveirastx commented on #480
Also @cwalker7 I'd use HMC (if your system does not have bonded terms), instead of GHMC as this last method has approximations

[2020-10-30 14:20] cwalker7 commented on #480
@asilveirastx My system does have bonded terms - I tried GHMC with step size of 1fs (keeping replica exchange frequency constant at every 1ps). The deviation is still there - the effect seems to be just reducing the noise. I'm also seeing a slowdown of about 3x in speed using GHMCMove instead of LangevinDynamicsMove (on single GPU).
![ensemble_check_GHMC_coll_rate1_vs_time_step](https://user-image

[2020-11-01 15:42] asilveirastx commented on #480
I did the analysis for a system of rigid water using HMC. The quantiles are now below 2.5, but temperatures pairs 1 and 2 are missing in the analysis because lack of overlap.

![ensemble_validation_hmc](https://user-images.githubusercontent.com/72212636/97807246-c5a59000-1c2d-11eb-9bbf-d6c4ef2843a5.png)

Limitations/issues of the simulations are:

1) The safe way to sample velocities would be to s

[2020-11-01 17:27] mrshirts commented on #480
@asilveirastx I would expect any issue with 'swap-all' might be more obvious in the case where there was a lot of overlap, as then there will be multiple swaps up and down between states.  Can you try with more overlap?

[2020-11-01 19:10] asilveirastx commented on #480
@mrshirts yes, I'll run with more intermediate states and I'll also implement N HMC steps between swaps.

[2020-11-03 12:08] asilveirastx commented on #480
I repeated the simulation with more intermediate states (delta T = 4 K) and I ran some preliminaries HMC simulations to check the acceptance rate for a few combination of parameters. Before running HMC, I equilibrated the water box in an NPT simulation (2 ns). The combination of `stepsize = 3.5 fs` and `md_steps=20` yielded an acceptance rate of 0.5, which I found in my thesis to be "optimal" in t

[2020-11-03 16:01] mrshirts commented on #480
Then why does it work for `swap-neighbors`, but not `swap-all`?

[2020-11-03 17:29] asilveirastx commented on #480
Intuitively, I would say that neighbors have similar phase space distributions so that the swapped configurations will be in a similar region for both thermodynamic states. For distant thermodynamic states, MD has to pull
the configuration to the more likely region of phase space for the new thermodynamic state. I agree
that any conclusion should not be drawn based on intuition, though. So, let's

[2020-11-03 18:03] mrshirts commented on #480
FYI, for more information, you can set  pairs='all' in the physical validation script (don't need to rerun simulations, just change that setting in the analysis)  That will give a LARGE number of tests, some of which will have poor overlap (like, say, i->i+20), but the comparison between the i->i+2, i->i+3, i->i+4 is usually more statistically informative if the overlap is good enough.

[2020-11-06 05:46] soerenbrandt opened #491 "platform_supports_precision(platform, precision) always fails for CUDA and OpenCL on AWS EC2"
In `openmmtools.utils`, the function `platform_supports_precision(platform, precision)` always fails since the context cannot be generated. Instead, the call in line 551 returns a NotImplementedError:

The specific call in platform_supports_precision that leads to the error is:
[code]

leading to the error:
[code]

The error occurs because the Context initializer is missing an argument for platfor

[2020-11-10 00:10] jchodera opened #492 "Hard-code some parameters in Custom*Force terms for alchemical factory"
From @peastman:

cc https://github.com/openmm/openmm/issues/2914#issuecomment-724182279

[2020-11-10 11:37] adw62 commented on #492
I have made the changes to address this here #493 . Please use this code if it is helpful.

Cheers,
Alex

[2020-12-03 09:39] simomarsili commented on #487
This should solve the problem (until `extract_trajectory` will be ported to opemmtools):

https://github.com/simomarsili/mmdemux

[2020-12-08 10:17] jaimergp commented on #468
Most were solved by #473 and others. Closing this one.

[2020-12-08 10:17] #468 closed

[2020-12-08 10:28] jaimergp commented on #490
Nightlies (and the incoming 7.5) keep failing. For the record, our code didn't change, but OpenMM did. Exactly at this point:

WORKS (Aug  12, 2020) -- `8bc2ed94604391d71856a33c1b23e21be95c4ec8`
FAILS (Aug  18, 2020) -- `b4543a46335e7dff5d1c2555d1ec98389e2f4dfb`

[The diff](https://github.com/openmm/openmm/compare/8bc2ed94604391d71856a33c1b23e21be95c4ec8..b4543a46335e7dff5d1c2555d1ec98389e2f4dfb).

[2020-12-10 11:23] andrrizzi commented on #487
Thanks for sharing @simomarsili !

[2020-12-11 18:36] dkonstan opened #495 "using ParallelTemperingSampler"
Hi!
I am trying to set up a temperature replica exchange simulation with openmmtools. The documentation doesn't have much detail on the format of the netCDF output of the ParallelTemperingSampler run() method. How can I feed a trajectory reporter into ParallelTemperingSampler to get positions vs time and the frequency I want? Also, i pass my simulation object a reporter (reporter = MultiStateRepor

[2020-12-29 10:39] dwhswenson commented on #490
The test case that is a problem here is actually the one where both are supposed by at 270K already. The problem is a rounding issue in `simtk.unit`:

[code]

Tests pass (locally, at least: macOS Python 3.7) after the following (ugly as sin) diff:

[code]

I can make a PR of that if desired, though it's an ugly workaround. I didn't dive into the upstream `simtk.unit` issue, but there seems to be a

[2020-12-29 12:11] jaimergp commented on #490
Oh, thanks for debugging this issue! I am more or less relieved the issue is _only_ a float arithmetic thing. I'll let the rest of the team comment on this too (we can just add a little margin in the test assertions), but I agree with you that it's better handled upstream. Thanks again!

[2021-02-16 00:21] jaimergp commented on #490
Btw @dwhswenson `openmmtools` is on [`conda-forge`](https://anaconda.org/conda-forge/openmmtools) for some days now!

[2021-02-16 00:32] jaimergp commented on #490
https://github.com/openmm/openmm/pull/2968 should have fixed this issue, but I am looking into it at #498 since the nightlies are still failing...

[2021-02-22 14:40] BenCree opened #499 "ppc64le support"
Hi

I was just wondering whether there is ppc64le support, or if it is planned in the future?

Thanks

[2021-02-22 14:56] Lnaden commented on #499
Does the OpenMMTools library not work on ppc64le? OpenMMTools is a pure python library which is meant to augment the underlying OpenMM package underneath. The it should not be tied to architecture for that reason.

That is not to say all its dependencies will be available on the same architecture, at least through the normal distribution channels like Conda.

I'm going to take a guess that this qu

[2021-02-22 15:59] jaimergp commented on #499
They are migrated already! Omnia is not needed. What happens is that openmmtools has a little C extension that requires per-platform compilation. We need to add that to the feedstock. Can you add an issue there for visibility?

[2021-02-22 20:44] jchodera commented on #499
@jaimergp @Lnaden: I think we eliminated the C replica mixing code. What code needs to be compiled?

I realize we may have neglected to remove [these lines from `setup.py`](https://github.com/choderalab/openmmtools/blob/master/setup.py#L4-L5), but I can't find anything else in the latest version that would need to be compiled.

[2021-02-23 11:01] jaimergp commented on #499
Hm, I see. I saw the Cython requirement and didn't look further. I have opened a PR to make it `noarch` (and thus multiplatform), but we need to cut a patch release with the cython-less setup.py.

[2021-02-23 11:08] jaimergp commented on #499
Actually, a v0.21 release is needed. 0.20 still builds the cython extension: https://github.com/choderalab/openmmtools/blob/0.20.0/setup.py#L27

[2021-02-23 12:30] mikemhenry opened #500 "Look into failure on master"
Some platforms are failing with this error:

[code]

[2021-02-25 20:36] #500 closed

[2021-03-09 15:40] yuanqing-wang opened #502 "Wrong number or type of arguments for overloaded function 'new_AndersenThermostat'."
I encountered this error when using adapting this example script from `perses`: https://github.com/choderalab/perses/blob/master/perses/app/relative_point_mutation_setup.py

[code]

Error:

[code]

The `l.pdb` and `r.pdb` files are two chains from 1X8Y PDB, pre-processed using PDBFixer.

[2021-03-11 15:43] oliverdutton commented on #480
Was there any resolution this issue, does 'swap_all' now function?

[2021-03-14 23:26] jchodera commented on #480
@oliverdutton : My apologies---we haven't had time to investigate this further. I'm still uncertain if there _is_ a problem given @asilveirastx's analysis in https://github.com/choderalab/openmmtools/issues/480#issuecomment-721077811. The `master` branch now contains the reworked `all-swap` code, so there does not seem to be the potential for hidden bugs anymore.

Any other ideas as to what could

[2021-03-16 18:38] asilveirastx commented on #480
I made histograms of the jump size for each replica in the case of rigid water where you can see that the most likely scenario is to have a jump size of 1 or 0 while a jump size = 2 only happens ~13% of the time.
I think this is the expected behavior in condensed phase systems. On the other hand, the system that @cwalker7 simulated is a chain in vacuum and the histograms show that large jump sizes

[2021-03-21 22:28] aced125 opened #505 "On newer versions of openmmtools, GPU can't be used if using mixed precision due to mixed precision check"
https://github.com/choderalab/openmmtools/blob/3f2cfc0d9ea5ee69b270b1f7705867548f8ca037/openmmtools/utils.py#L513

This function always fails due to this part:

[code]

It always returns

[code]

Try it:

[code]

Thus, whenever configuring the platform, if trying to check available platforms that allow mixed precision, the CUDA and OpenCL ones will always fail.

[2021-03-22 15:48] jchodera commented on #505
Thanks for the fantastic bug report and minimal example to reproduce!

The syntax for [line 551](https://github.com/choderalab/openmmtools/blob/3f2cfc0d9ea5ee69b270b1f7705867548f8ca037/openmmtools/utils.py#L551) should be changed from
[code]
to
[code]
I'll open a PR.

[2021-03-22 23:28] aced125 commented on #505
Hey @jchodera I tried this, I then get a new error, unfortunately. It then says:

[code]

[code]

When I try the following:

[code]

I get:

[code]

[2021-03-23 00:13] jchodera commented on #505
Now I'm super confused---even `context = openmm.Context(system, integrator)` does not work for me.

@peastman: Can you help us identify what is going on here? See the minimal examples above.

[2021-03-23 00:34] peastman commented on #505
[code]

HarmonicOscillator is not a System object.  You can get an actual System using its `system` field.

[2021-03-23 04:49] jchodera commented on #505
@peastman : Of course, thank you! The swig error messages are not so helpful, so we easily confused two different failure mechanisms for being the same thing.

I've opened a PR to fix this in #506. Once we've verified everything is working, we can cut a new critical bugfix release.

[2021-03-23 12:34] aced125 commented on #505
Thanks @jchodera and @peastman for the very quick fix indeed!

[2021-03-26 14:18] #505 closed

[2021-03-27 19:53] jchodera opened #507 "Generalize how we autodetect global controllable parameters"
Currently, the `alchemy` module uses [this code to identify controllable alchemical global parameters](https://github.com/choderalab/openmmtools/blob/321b998fc5977a1f8893e4ad5700b1b3aef6101c/openmmtools/states.py#L3691-L3720), which is restricted to a limited list that does not include many of the alchemical parameters we use in perses. We should generalize this to autodetect parameters, perhaps u

[2021-03-27 19:59] jchodera commented on #507
As a workaround, the following is an idiom for augmenting the known alchemical parameters:
[code]

[2021-04-28 10:14] MauriceKarrenbrock opened #508 "create_alchemical_system complains about virtual sites that I haven't defined (used parmed to create system)"
Hello, the problem is probably more my fault than an openmmtools problem, but I don't really know how to deal with it.

I am using a script that uses `create_alchemical_system` inside `alchemy.py`, I have the pdb of a solvated protein ligand system and a prmtop file that was built with amber 19SB, OPC water and gaff2.
I am using parmed to create the system, topology and positions, and transform th

[2021-05-06 11:09] bieniekmateusz opened #509 "Alchemy Support for Virtual Sites"
Hi,

I am working on absolute hydration free energies in molecules that contain virtual sites and I am using alchemy.py.

It appears that the virtual sites are treated the same way all other particles are. I removed the exception in AbsoluteAlchemicalFactory to test it.

In the simplest case of hydration free energies, when annihilating electrostatics and decoupling sterics, it appears that virtua

[2021-05-10 12:03] MauriceKarrenbrock commented on #508
Hi, I figured out that the virtual sites are there because of OPC water (should have thought about it)

In any case the problem therefore becomes the same of #509 would it be possible to implement virtual sites in the achemical region? (if it isn't excessively complex and you give me the right hints I have no problem in helping you implement whatever needs to be changed in the code once the except

[2021-05-12 19:03] AJZein opened #510 "Charmm36 nonbonded forces with Alchemy"
Hello,

I am trying to perform alchemy using the charmm36 forcefield but I've noticed that there are remaining forces when lambda is set to 0. In the LysozymeImplicit test system for example, the pxylene_atoms wont separate from its binding pocket when lambda is set to 0 in charmm36, but it will when using the test system's forcefield. I've added a minimal example for both cases at the bottom.

I'

[2021-05-12 20:03] Lnaden commented on #510
I've done a bit of digging and I think I can better describe the source of the problem.

I think you are correct: This is a bug due to OpenMMTool's alchemical factory never being taught to recognize OpenMM's implementation of the CHARMM forcefield.

The `t4_system` object you create from the `charm36.xml` file and `forcefield` object adds in a native `CustomNonbondedForce` to the OpenMM `System`.

[2021-05-12 21:15] AJZein commented on #510
Thanks for looking into this so quickly. I'll try explore some other options but in the end I may have to just rewrite the whole function.

[2021-05-18 17:42] Lnaden commented on #510
I wanted to touch on this issue a bit more. I've done some looking at the forces which come out of the CHARMM forcefield.

It looks like the Lennard-Jones interaction is purely handled by the `CustomNonbondedForce` object and none of the `NonbondedForce`. The `NonbondedForce` has every `epsilon` set to 0, so the LJ interactions are never handled by that force. As such, most of the changes the Alch

[2021-05-18 18:22] Lnaden commented on #510
The proper fix to this is complicated by a few other factors from `alchemy.py`'s design:

* Alchemy (it) assumes the nonbonded parameters are all contained in the Nonbonded Force
* It assumes the mixing rules are represented by simple Lorentz-Berthelot and NOT by tabulated function.
* It compiles all the alchemical custom forces (i.e. electrostatics and LJ) from basic Nonbonded force
* It assumes

[2021-05-18 18:46] Lnaden commented on #510
Last thought for now: Also have to think about how to properly softcore a tabulated function where the `4e` term is folded in...

[2021-05-26 05:10] jchodera commented on #510
@ajzein: Apologies for the long delay in addressing this---we're shorthanded on developers during COVID, but should have a new developer aboard to start working through the backlog of issues later in June.

@Lnaden : Thanks for diagnosing this! #511 is a good temporary safety improvement.

We should be able to implement a simple solution to handle `CustomNonbondedForce` terms generally, following

[2021-05-26 12:50] Lnaden commented on #510
I like the solution for the alchemical side of things in the energy expression. I do wonder if we need to somehow incorporate the existing floats/constant  of alpha, beta, a, b, c into this to be consistent with how the standard `NonbondedForce` is cast.

The other engineering problem is how to detect this and not have an overlap of force objects generated from the Factory. Right now the factory d

[2021-05-28 12:22] AJZein commented on #510
@jchodera No problem, I can understand that covid has put a lot of people in difficult situations.

[2021-06-07 20:30] mikemhenry opened #513 "Require temperature to be set"
Require temperature to be set in integrators, don't rely on some default.

[2021-06-08 14:44] nope-sto opened #514 "ParallelTemperingSampler from OpenMM checkpoint file"
I tried to run the example ParallelTemperingSampler script from a previously generated OpenMM checkpoint file.
Unfortunately, I end up with following error:
"Exception: All sampler states must have box_vectors defined if the system is periodic."
How do I have to specify the positions to have box_vectors included?
Thanks in advance!

`simulation.loadCheckpoint('after_free_eq.chk')
state = simulatio

[2021-07-08 19:07] mpvenkatesh opened #516 "Multi-GPU Support for multistate runs"
I am trying to locate the openmmtools functionality that corresponds to the 'DeviceIndex' property that can be passed to openmm's Simulation() to convey the available GPU devices. I am able to set the platform to 'CUDA' via cache.ContextCache(), and this makes my sample Parallel Tempering run entirely on one GPU, even though 8 are available. I have essentially packaged the example in https://openm

[2021-07-08 21:41] mpvenkatesh commented on #449
Has this been resolved? I am trying to set up a replica exchange sampler on a multi-GPU node, so could use the command-line and other set-up information needed to reproduce the bug discussed here on openmm-tools (i.e., without yank).

[2021-07-12 22:59] ijpulidos commented on #458
I believe `openmmtools` and `openmm` have now `conda-forge`  as primary source repo. Maybe this issue can be closed now?

[2021-07-12 23:05] jchodera commented on #458
Yes, thanks!

[2021-07-12 23:05] #458 closed

[2021-07-16 07:20] andrrizzi commented on #516
Hi @mpvenkatesh . The multi-GPU support is based on MPI so you will have to execute your python driving script with `mpirun` (or similar).

If you are already doing this, it might be the case that OpenMM only sees that. To check this, you can use `openmmtools.utils.get_available_platforms()`. If it doesn't see all GPUs there might be something wrong with the env variables (e.g., `CUDA_VISIBLE_DEVI

[2021-07-20 18:36] mpvenkatesh commented on #516
Andrea, thanks for the clarification; turned out I had to clean my environment and use Open MPI 3.1.5 to be able to test it. However, I run into the "opal_shmem_base_select failed --> Returned value -1 instead of OPAL_SUCCESS" error, leading to "opal_init failed" and " ompi_mpi_init: ompi_rte_init failed". Some browsing suggested MPI_Init may be getting called more than once, or that we would need

[2021-07-20 20:38] mpvenkatesh commented on #516
Andrea,

I am using Open MPI 3.1.5. I am running in the interactive mode on a node with 8 GPUs and 1 CPU requested thus:  `srun -G 8 -n 1 --pty bash -i`.  I then launch this way: ` mpirun -np 1 python remd.py`.  Run this way, a single CPU process that uses only 1 GPU, even though there are 8. If I repeat the exercise with `-n 1` and `-np 8`, 8 processes are launched, each independently running rem

[2021-07-21 07:02] andrrizzi commented on #516
@mpvenkatesh , I think you might have to set the `CUDA_VISIBLE_DEVICES` variable correctly for each MPI process. We usually run MPI using a hostfile and a configfile that sets something like `mpirun -env CUDA_VISIBLE_DEVICES X` for each MPI process.

We use an internal python script to do this (also conda-installable): https://github.com/choderalab/clusterutils. It might help, although it doesn't

[2021-07-22 00:08] mpvenkatesh commented on #516
I am able to get remd.py to run on a specific GPU by running `mpirun -x CUDA_VISIBLE_DEVICES=X -n 1 python remd.py`. When X is a list, only the first GPU in the list gets used. Setting -n to a value greater than 1 also results in only the first GPU being used. Further, this launches multiple remd.py calls in parallel, which is not the intention. The desired behavior is having 1 CPU-based process r

[2021-07-22 08:02] andrrizzi commented on #516
@mpvenkatesh, I see. That is not the setting `ContextCache` was optimized for. The job of `ContextCache` is to decide whether to re-use a previously created GPU `Context` or to create a new one. Currently, it always uses a previous `Context` when it can (i.e., when the two thermodynamic states differ by thermodynamic parameters that OpenMM allows to modify after context creation). For our replica

[2021-07-31 18:45] dwhswenson opened #517 "Deserialization followed by serialization adds attributes `_serialized__module_name` and `_serialized__class_name`"
If I do "1.5 cycles" of serialization (i.e., serialize, deserialize the resulting dict, reserialize the result of that) I would expect that the dict for the originally serialized object would be identical to the dict for the reserialized object. (This is what I usually test to check serialization.)

This is not the case with OpenMMTools objects, because the attributes `_serialized__module_name` an

[2021-08-02 06:11] andrrizzi commented on #517
Hi @dwhswenson . It's weird that the first serialization doesn't have the `serialized_X` attributes since `serialize()` should always add them (see [here](https://github.com/choderalab/openmmtools/blob/master/openmmtools/utils.py#L640-L641)). Even weirder that `deserialize()` doesn't raise an exception since it cannot restore objects without the `serialized_X` attribute (see [here](https://github.

[2021-08-02 06:15] andrrizzi commented on #517
Ah! I see what's happening. `deserialize()` actually `pop()`s the `serialized_X` attributes so you don't see them anymore in the `serialized` variable if you print it after calling `deserialize()` on it.

If you need the serialization object to be preserved, we could add a shallow copy of the dictionary on top of `deserialize()`.

[2021-08-02 09:04] dwhswenson commented on #517
Of course! I should have guessed that. When I looked again my code example, I wondered how deserialization worked in the first place.

I can add the shallow copy on my end before deserialization (so I'm closing this as solvable on my side). I'm wrapping `openmmtools.mcmc` as an engine for OPS, so this was important for the serialization tests on our end. However, it might still be worth the copy o

[2021-08-03 03:41] dwhswenson opened #518 "OpenMMTools MCMC as an OpenPathSampling engine"
I'm writing an OpenPathSampling engine to wrap the OpenMMTools `MCMCSampler`. This will allow users to do path sampling of Monte Carlo "trajectories." This came out of a user question in openpathsampling/openpathsampling#1040, and current development of the engine is in openpathsampling/openpathsampling#1041.

Some questions for the OpenMMTools developers (thanks in advance for your advice!):

###

[2021-08-04 07:40] andrrizzi commented on #518
Hi @dwhswenson .

I think you can safely either assign a new `SamplerState` to `MCMCSampler` or even set `MCMCSampler.sampler_state.positions = ...`. The `SamplerState` is applied to the cached `Context` at each iteration so it modifying that at runtime does not have side effects.

Some context for serialization: The `openmmtools.utils.serialize/deserialize` methods simply add to/read from the ser

[2021-08-04 07:42] andrrizzi commented on #517
I agree. I'll reopen this to keep track. Also, feel free to open a PR with the fix here rather than modifying your code if you have the time.

[2021-08-04 18:26] dwhswenson commented on #518
Thanks @andrrizzi!

Yes, this is even better. Somehow, when I looked at the code before, I missed the properties for `positions` and only saw the internal API `_set_positions`. I'll switch to doing it this way, since it is more analogous to the OpenMM `context.setPositions` call we do.

This would be perfect. The main thing is that `simtk.unit` quantities are not themselves JSON-serializable. We h

[2021-08-06 07:28] andrrizzi commented on #518
I agree that would be an ideal solution. I seem to remember the `Quantity` object also implements `__getstate__` and `__setstate__` methods that serialize it into `dict`. I don't know if they currently support also string serialization.

[2021-08-26 19:23] mikemhenry opened #519 "Issue with ContextCache"
See this issue
https://github.com/choderalab/perses/issues/613

And this comment:
https://github.com/choderalab/perses/issues/613#issuecomment-902512392

The current workaround is to create a instance of `ContextCache` and use that instead of the default global one, ie.

[code]

[2021-09-17 18:24] adw62 opened #520 "GPU test_alchemy.py failures."
Hello,

I am experiencing some test failures for OpenMMTools when using the GPU platform and was hoping I could get some help resolving them.

I have set up a test environment for OpenMMTools using a Conda environment and the YAML here: https://github.com/choderalab/openmmtools/blob/master/devtools/conda-envs/test_env.yaml which yields this environment for me: [environment.txt](https://github.com/

[2021-09-20 18:46] adw62 commented on #520
An update on this:
Performing these test using OpenMM ver. 7.4.2 results in no energy errors. If I use 7.6 these errors occur again. I tested with cudatoolkit 10.1 and 11.2 (not sure if this will help?)

I've attached here my OpenMM 7.4 and 7.6 Conda environments for reference:
[open74.txt](https://github.com/choderalab/openmmtools/files/7197959/open74.txt)
[open76.txt](https://github.com/choderal

[2021-09-29 21:36] zhang-ivy opened #521 "Getting `CUDA_ERROR_OUT_OF_MEMORY` error when running replica exchange (with lots of replicas) on large system"
I'm trying to run replica exchange (rest) on a system with 185K atoms, and it runs fine when I use a rest region of ~70 atoms with 12 replicas. However, I get the following error when I run with a rest region of ~1000 atoms with 24 or 36 replicas.

I'm currently using this as the context cache:
`context_cache = cache.ContextCache(capacity=None, time_to_live=None)`

[code]

To reproduce the issue,

[2021-09-30 17:02] mikemhenry commented on #520
Thanks for the issue @adw62! I will try and reproduce.

[2021-09-30 18:19] ijpulidos commented on #520
@adw62 I was able to get some errors in the tests, but it is curious that the errors I am getting [here](https://gist.github.com/ijpulidos/596d53809cb9a6215fefedc2608211d3) are different (ignore the parmed module missing one, btw). I'm getting these using exclusively the conda-forge packages for openmmtools and openmm (nothing installed using git/pip, any special reasons why you are installing ope

[2021-09-30 18:35] jchodera commented on #520
For one of the failing tests (ideally the simplest/smallest one), can you serialize out the `System` and `State` objects to XML for us to investigate? Something like this:
[code]
This will make it easier for us to look at in detail, especially if we have to bring in Peter Eastman.

[2021-09-30 18:40] ijpulidos commented on #520
I can see that the test systems that fail the energy components comparison test have using "exact PME" in common. I don't know if that rings any bells. I'll be serializing the `System` and `State` soon.

[2021-09-30 21:28] ijpulidos commented on #520
@jchodera This is one of the systems that fails with the energy components test. The system is in XML while the state is in pickle, because I don't think OpenMM's `XmlSerializer` allows the serialization of `openmmtools.alchemy.AlchemicalState` objects.
[openmmtools-520.tar.gz](https://github.com/choderalab/openmmtools/files/7262596/openmmtools-520.tar.gz)

[2021-09-30 21:45] jchodera commented on #520
That's correct, but we don't necessarily need the `AlchemicalState` object to debug this---we just need the XML representation fo the pure C++ `State` object.

[2021-09-30 22:05] ijpulidos commented on #521
@zhang-ivy I've been playing a bit with this and I can see that the system getting out of memory is real. I didn't know that OpenMM was capable of processing things in both the system memory ("CPU" RAM) and the GPU. So, when it runs out of memory in the GPU it starts using the System Memory (at the cost of performance of course, the more it is on CPU the slower). Then, one "quick" fix for your iss

[2021-09-30 22:08] ijpulidos commented on #521
It does seem that there is something going on with how the memory is being handled, since it keeps increasing over time. I'm still not an expert using openmmtools contexts but maybe playing with that could also help. So maybe if you expect your job to be running for much longer, you would need to ask for even more memory.

[2021-09-30 22:13] jchodera commented on #521
We must be leaking memory or OpenMM `Context` objects. When running `ReplicaExchangeSampler`, the context cache should only keep a few `Context` objects cached to keep memory usage constant. When using `DummyCache`, it should just create and destroy `Context` objects as needed, taking up the same amount of GPU memory no matter how many replicas there are. There's either a bug in the context cache

[2021-09-30 22:18] mikemhenry commented on #521
@ijpulidos can you try using the dummy cache and see if memory use still grows without bounds? Also try setting the cache to keep only like 12 contexts (assuming replicas 12):
`context_cache = cache.ContextCache(capacity=12, time_to_live=None)`
And see if that stops the memory from growing.

[2021-09-30 23:01] ijpulidos commented on #521
@mikemhenry The outcome is the same as far as I can see, it fills GPU memory and continues with CPU, monotonically increasing the used memory. This time it didn't fail for whatever reason, but I think it's still a signal that something is leaking.

[2021-09-30 23:26] mikemhenry commented on #521
Our friends at relaytx have also reported that when GPU memory fills, the system starts to use CPU memory and CPU which is much slower. Their systems are 454 protein residues (7460 protein atoms). The ligands range from 45-65 atoms each and they are using `n_states: 12`. I need to make sure I don't need to redact anything but I've got some logs of memory using A100 and V100 GPUs.

[2021-10-01 12:06] adw62 commented on #520
@ijpulidos That's good you can reproduce this with the Conda installs, there is no special reason I'm using pip here.

I also had a go at serializing out the `HostGuestExplicit` system with ver. 7.4 and 7.6: [sys_states.zip](https://github.com/choderalab/openmmtools/files/7266910/sys_states.zip) I can't see any material difference in the `System` the `State` is harder for me to interpret so not su

[2021-10-01 14:40] jchodera commented on #520
Looping in @peastman in case he has any insight as to what we should be looking for here.

[2021-10-01 15:46] jchodera commented on #521
OH. This may not be using "CPU memory"---I don't think that's actually what is happening---it might be using the `CPU` platform, which is indeed _much_ slower! There must be some sort of `Context` or memory leak with `ContextCache` here---we really need to look into this carefully.

[2021-10-05 15:39] jchodera commented on #521
It definitely looks like the bug is with `ContextCache` then.

[2021-10-05 21:09] ijpulidos commented on #520
We have decided to raise an issue in the `openmm` repo with the information gathered here.

[2021-10-06 10:13] adw62 commented on #520
Okay sounds good to me. I ran some quick tests of `ParticleParameterOffset` this morning using this code:
[code]

both OpenMM 7.4 and 7.6 give me consistent looking results of:
[code]

So I am yet to find a minimal example of what is breaking here.

[2021-10-06 19:47] jchodera opened #522 "Update ONE_4PI_EPS0"
OpenMM recently [updated all physical constants to match the CODATA 2018 self-consistent constants](https://github.com/openmm/openmm/blob/be19e0222ddf66f612016a3c1f687161a53c2396/platforms/reference/include/SimTKOpenMMRealType.h#L63-L89). We should update [our version of this constant](https://github.com/choderalab/openmmtools/blob/master/openmmtools/constants.py#L8).

[2021-10-20 16:02] ijpulidos opened #523 "Avoid raising generic exceptions"
While trying to read an incomplete simulation from an nc file I get
[code]
which comes from https://github.com/choderalab/openmmtools/blob/master/openmmtools/multistate/multistateanalyzer.py#L878

I think we should avoid raising a generic exception here and probably in all of the other similar cases. I see similar things happening in other places, as follows

[code]

Maybe we have to deal with the

[2021-11-03 19:48] jchodera commented on #522
@ijpulidos Please go for it!

[2021-11-04 15:05] zhang-ivy opened #526 "Make d_U/d_lambda easily accessible"
Per my recent discussion with @jchodera, we'd like to make d_U/d_lambda for repex trajectories more easily accessible so that we can compute the (MBAR) variance of d_U/d_lambda. This would allow us to assess the thermodynamic length w.r.t the protocol, which will help us assess 1) which parts of the protocol are problematic and 2) the tradeoffs between increasing thermodynamic length and decreasin

[2021-11-04 23:33] #522 closed

[2021-11-09 14:20] zhang-ivy commented on #449
I ran some repex simulations with multiple GPUs recently and was not able to reproduce this bug.

I ran ~80 iterations of h-repex (with 12 replicas, swap-all) on 2 GPUs and am not able to reproduce the problem:
[code]
With 6 GPUs (500 iterations):
[code]
Using these mpi related packages:
[code]

We should be able to close this issue unless someone else is still able to reproduce.

[2021-11-09 17:28] jchodera commented on #449
Thanks, @zhang-ivy !

Please re-open if this issue reappears.

[2021-11-10 22:27] ijpulidos opened #527 "NetCDF failing in Windows tests, blocking merging of PRs"
For months our CI tests have been failing specifically with the windows tests complaining about issues with accessing netcdf files, such as in https://github.com/choderalab/openmmtools/runs/4155555651?check_suite_focus=true with messages like
[code]
and
[code]
So, I guess we have to ask ourselves if we want to keep supporting Windows and if so, then we want to set up environments that allow us to

[2021-11-15 15:33] ijpulidos opened #529 "Comply with time window-based policy for Python and Numpy versions"
In a recent [PR](#528) it was noted that we are testing against deprecated python versions. And it was suggested that we should follow the policies in https://numpy.org/neps/nep-0029-deprecation_policy.html as a project in the Scientific Python ecosystem.

[2021-11-15 19:44] mikemhenry commented on #529
The PR url links to this issue, but yes we should do NEP 29 for everything, I think once we get things correct for the current date, we will be good till mid december

[2021-11-15 22:00] zhang-ivy commented on #526
We discussed at the perses dev sync today that either @ijpulidos or @mikemhenry would chat with @jchodera to discuss how to implement this.
The plan is to:
1) Adapt the yank notebook to pull out d_U/d_lambda
2) Then make the relevant changes to openmmtools s.t. the analysis notebook can be generated programmatically

Here is an example analysis notebook (the input files are located in `/data/chode

[2021-12-01 16:49] dominicrufa opened #530 "`openmmtools.testsystems.DoubleWellDimer_WCAFluid` perhaps uses inappropriate periodic box size"
https://github.com/choderalab/openmmtools/blob/7a9c61cea5c657e333f433dabbd7c87624f8227f/openmmtools/testsystems.py#L2334-L2337.

i think the appropriate calculation of box length should be

[code]

[2021-12-06 22:44] zhang-ivy opened #531 "Augment checkpoint storage to save velocities"
I am seeing dips in potential energy when I resume a repex simulation:
![image (5)](https://user-images.githubusercontent.com/35546250/144934094-9a9923c2-b512-405e-81a2-dd04a630bb50.png)

I next decided to investigate the first dip in potential energy (at iteration 791). Here are histograms of replica energies for each iteration, colored by iteration number:
![image (6)](https://user-images.github

[2021-12-07 16:09] bcallen95 opened #532 "Import error on Google Colab"
Hi there! I've been trying to run the "Alchemical Free Energy Calculations" Tutorial on the OpenMM Page. When I try to import openmmtools I get the following traceback:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-6e6b6bde0fbf> in <module>()
----> 1 import openmmtools

2 fra

[2021-12-07 16:26] bcallen95 commented on #532
It appears that my environment set-up was the issue. Alternatively setting up the Conda environment (in Google Colab) in the following way appears to fix all issues (with each separate "code block" representing a separate cell):

`!pip install -q condacolab
import condacolab
condacolab.install()`

`import condacolab
condacolab.check()`

`!mamba install -q openmmtools`

[2021-12-07 16:26] #532 closed

[2021-12-08 12:56] mjw99 opened #533 "KeyError in test_alchemy.py:TestAbsoluteAlchemicalFactorySlow"
Using  openmmtools               0.20.3             pyhd8ed1ab_0    conda-forge
and running the following test:
[code]
I am seeing:
[code]

One possible fix for this could be to edit [here](https://github.com/choderalab/openmmtools/blob/7a9c61cea5c657e333f433dabbd7c87624f8227f/openmmtools/tests/test_alchemy.py#L1816) with:
[code]
but this might duplicate tests... I've not fully checked.

[2021-12-09 20:26] mjw99 commented on #435
I am too seeing NaN issues with test_alchemy.py:TestAbsoluteAlchemicalFactory.test_overlap using:

[code]
Interestingly, it only occurs on a K40m, but not on a V100 and only on the CUDA platform.

The above example code is similar to TestAbsoluteAlchemicalFactory.test_overlap, but it does not carry out a minimisation, if you add one in:
[code]
no NaNs are seen.

Returning the original problem, I s

[2021-12-13 18:12] jchodera commented on #435
@ijpulidos : Could you tackle this?

[2021-12-13 20:04] mikemhenry commented on #527
For now I'm going to disable the windows tests as a requirement so we can get some of these PRs merged in.

[2021-12-17 22:21] zhang-ivy opened #536 "Upon resuming a simulation from a .nc, new context caches are created for each move"
This is a follow up to the fix here: https://github.com/choderalab/openmmtools/pull/524, which prevents the creation of a new context cache for each move.

The fix works fine for starting a simulation, but when I resume a simulation from a .nc file, I run into memory issues.

This is because [when mcmc moves are read from the reporter](https://github.com/choderalab/openmmtools/blob/master/openmmto

[2021-12-19 13:50] mjw99 commented on #435
I think this can closed; thanks again for all the help/interaction on this.

[2021-12-20 19:13] mikemhenry commented on #435
Fixed in 534

[2021-12-20 19:13] #435 closed

[2021-12-22 06:18] mikemhenry commented on #532
@bcallen95 Sorry I just saw this, that error you are getting now is from `pymbar`, see this issue: https://github.com/choderalab/pymbar/issues/419

[2022-01-15 05:02] jchodera opened #539 "Eliminate parmed dependency from DHFRExplicit"
We should be able to eliminate the parmed dependency in `optnmmtools.testsystems.DHFRExplicit` now that OpenMM supports Amber prmtop/inpcrd files.

The relevant code is [here](https://github.com/choderalab/openmmtools/blob/master/openmmtools/testsystems.py#L3891-L3902).

Note that OpenMM may only support "new style" `prmtop` files (Amber6 or later), so we will likely need to [update the `prmtop` w

[2022-01-26 22:04] zhang-ivy opened #540 "Add gentle equilibration code"
I recently implemented the gentle equilibration protocol from [this publication](https://academic.oup.com/nar/article/44/1/63/2499624#supplementary-data) in OpenMM:

<img width="926" alt="Screen Shot 2022-01-26 at 5 01 26 PM" src="https://user-images.githubusercontent.com/35546250/151254304-c7961d2d-2a1f-4693-acc8-365a017acd01.png">

[code]

@jchodera  mentioned that we may want to capture this in

[2022-02-01 14:41] zhang-ivy opened #541 "Create nonequilibrium multi state sampler"
We want to create a `NonequilibriumMultiStateSampler` that takes in 2 states (and optionally 2 auxiliary states with LRC fully on) and run nonequilibrium switching.

[2022-02-04 20:37] ijpulidos opened #546 "More streamlined `ContextCache` usage"
I think my only comment is that we discussed this could be simplified into a single `self._initialize_context_cache()` that just returns the global context cache, and there is no need to accept the kwargs for context caches since we can just set them as public attributes now, but I don't feel very strongly about this either way. I think it's just simpler and more streamlined if we don't have to pa

[2022-02-04 20:44] ijpulidos commented on #546
We might want to explore the idea of using a `property` for the `context_cache` attributes (both energy and sampler). Similarly to what we are doing with the `MCMCMove` objects :thinking:

[2022-02-04 22:32] #536 closed

[2022-02-04 22:32] #519 closed

[2022-02-09 23:15] yihengwuKP commented on #495
Ok, not sure if @dkonstan still has the issue or not, I just wrote a simple example so that dcd traj can be written via `MDAnalysis`. I am sharing it here so that people having the same issue can use it.

I also suggest this is included in the documentation, since it took me the whole afternoon staring at the documentation and firguring out the attributes.
[code]

[2022-02-10 19:38] yihengwuKP commented on #495
I am glad that I could help!

[2022-02-11 21:36] yihengwuKP commented on #495
actually @mikemhenry a side note is, I found that what I wrote is not super efficient, so the performance when recording the dcd might not be ideal. I just found out that amber also use this netcdf binary file format, would the reader for amber file compatible with openmmtools' netcdf file or it's the same format but different organization rule?

[2022-02-11 23:47] mikemhenry commented on #495
I'm honestly not sure, @jchodera might know. I do know that readers and writers all tend to make different assumptions, so it is easy to swap them out and things "work" but results are incorrect. Especially when assumptions are made about units.

[2022-02-14 17:40] ijpulidos opened #548 "readthedocs documentation build broken"
The documentation builds for readthedocs are broken https://readthedocs.org/projects/openmmtools/builds/15991755/

[2022-02-14 23:40] #546 closed

[2022-02-14 23:42] ijpulidos opened #549 "Codeclimate broken"
I guess the change to `main` for the main branch messed up the `codeclimate` check. I think this has to be changed from the `codeclimate` side of things.

_Originally posted by @ijpulidos in https://github.com/choderalab/openmmtools/issues/547#issuecomment-1039575300_

[2022-02-21 20:33] mikemhenry opened #550 "platform_supports_precision broken when using a string"
`platform_supports_precision` works fine if you pass in an openmm platform to check the precision, but breaks if you use a string:

[code]

[2022-02-22 16:23] mikemhenry commented on #549
Until we figure this out, I removed code climate as a required check

[2022-02-22 16:43] mikemhenry commented on #548
@jchodera when you get a chance, can you add me to the readthedocs project for openmmtools? My username is `mmh`

[2022-02-28 18:45] mikemhenry opened #553 "Update tutorial for context cache updates"

[2022-03-04 19:43] mikemhenry commented on #549
I've fixed it by setting the default branch to main, but do we want to keep codeclimate?
Is this something you think is useful @jchodera ? There are a lot of tools like this and if we want something like it, we should look at the different options and settle on one that we use on all our repos.

[2022-03-04 21:27] mikemhenry commented on #548
Going to keep this open until I can update our RTD config on the web ui

[2022-03-07 19:56] zhang-ivy commented on #540
I just realized that the force constants defined here:
[code]
do not match those outlined in the screenshotted equilibration protocol -- all force constants should be multiplied by 100.

[2022-03-08 22:38] jchodera commented on #549
@mikemhenry : Can you check with the OpenFF devs on what they feel is the best practice here?
I'm all for standardizing this across our community here.

[2022-03-13 01:43] jchodera opened #558 "Importing multistate samplers modifies behavior of global context cache"
[This line](https://github.com/choderalab/perses/blob/main/perses/samplers/multistate.py#L10) causes the global context cache behavior to change in an unexpected way. I don't think we should be doing this.

This might merit a bugfix release.

cc https://github.com/choderalab/perses/issues/963

[2022-03-15 21:54] mikemhenry commented on #548
@jchodera when you get a chance, can you add me to the readthedocs project for openmmtools? My username is mmh

[2022-03-15 22:11] ijpulidos commented on #558
Not sure if I am missing something, but this seems to be related exclusively to `perses`, isn't it?

Or is it that we want users not to be able to change the global context cache behavior this way?

That said, we might want to check if the global context cache behavior/platform is getting changed inside the `openmmtools` code base as well.

[2022-03-15 23:55] jchodera commented on #548
@mikemhenry : Apologies for missing this earlier! Just added you.

Perhaps we want to migrate this to be hosted by GitHub Pages instead?

[2022-03-16 19:25] mikemhenry commented on #548
No worries! I honestly am not sure about switching to github pages, it will make some problems go away, like access control, but create new ones, like RTD does some fancy stuff to make the search work really well. I will look into it!

[2022-03-17 09:22] adw62 commented on #520
Hello,

I have run these tests again on my machine this morning using the latest OpenMM and OpenMMtools installed by conda which gives this env: [environment.txt](https://github.com/choderalab/openmmtools/files/8283290/environment.txt)

I now no longer see any of these errors on GPU. For reference I'm now using CUDA Driver Version: 510.47.03 and CUDA Version: 11.6 with RTX2070S. So I think with th

[2022-03-17 09:22] #520 closed

[2022-03-17 17:40] mikemhenry opened #559 "Add RC check for openmm"

[2022-03-17 17:46] jchodera opened #560 "Set up GPU CI"
We should use the same perses infrastructure for nightly GPU CI.

[2022-03-18 16:34] mikemhenry commented on #548
This is fixed now, but the documentation points to the main branch. I prefer to have it point to the latest release, which we will do at the next release.

[2022-03-23 22:26] zhang-ivy commented on #449
I'm re-opening this issue because I am seeing the same problematic behavior when running h-repex (36 replicas) on barnase:barstar with 2 gpus:
[code]

vs with 1 gpu:
[code]

I tried running the same experiment on alanine dipeptide in vacuum and am not able to reproduce the problem.

I'm also not sure why I wasn't seeing the same problem in [my previous experiments](https://github.com/choderalab/op

[2022-03-24 14:12] zhang-ivy commented on #449
No, I did not see that warning.

[code]
I'm attaching my environment here:
[openmm-dev.yml.zip](https://github.com/choderalab/openmmtools/files/8342170/openmm-dev.yml.zip)

[2022-03-29 01:19] ijpulidos commented on #449
Thanks a lot for all the work and effort from @zhang-ivy , specially by pointing me to the differences between yank versions `0.20.1` and `0.21.0` which was when this issue first appeared. I think I managed to come up with a solution.

I made a PR with a probable solution. As far as I could tell, the `_replica_thermodynamic_states` attribute was not getting broadcasted to the MPI context. More det

[2022-03-29 01:50] jchodera commented on #449
@ijpulidos : That was the bug! Thanks for catching it after all this time!

[2022-03-29 15:38] jchodera opened #563 "Have multistate sampler report which GPU we are using in log, if available"
If `nvidia-smi` is available, it would be useful for each process to report to the log the GPU in use.

We can use
[code]
or
[code]

[2022-03-29 15:45] zhang-ivy commented on #449
@ijpulidos : Great work! Can confirm that your PR fixes the mixing problem for ala dipeptide in solvent t-repex and apo barstar h-repex.

[2022-03-29 19:46] ijpulidos opened #564 "Dynamically create the name for real time analysis yaml file"
Generate the name for the  real analysis yaml file from the reporter netcdf filenames, as it's done with checkpoints. To avoid collisions.

[2022-03-30 14:22] #449 closed

[2022-04-07 11:40] IAlibay opened #566 "Early error checking of inputs to `LangevinSplittingDynamicsMove`?"
Something which came up with OpenFE earlier this week, which we thought might be worth reporting:

We use OpenFF units internally within OpenFE and sometimes we forget to convert to OpenMM units.

In one particular case we passed openff units for the `timestep` and `collision_rate` arguments of `LangevinSplittingDynamicsMove`. This didn't throw any errors on class creation but rather much later on

[2022-04-07 16:45] mikemhenry commented on #558
Just as a reminder, we want to do what we did in perses here, which is to make sure that we don't have any places where we create a global context cache except here https://github.com/choderalab/openmmtools/blob/main/openmmtools/cache.py#L791

[2022-04-08 14:09] mjw99 opened #567 "Windows CI is currently failing"
Currently seeing this error:

[code]

[2022-04-08 20:03] ijpulidos commented on #558
As far as I can see there are no cases in `openmmtools` code base that change the behavior of the global context cache on imports. I am closing this one, feel free to reopen if you think I have missed something.

[2022-04-08 20:03] #558 closed

[2022-04-08 20:17] ijpulidos commented on #564
Solved by #565

[2022-04-08 20:17] #564 closed

[2022-04-08 20:54] ijpulidos commented on #527
I think we can close this one. Solved in #535 .

[2022-04-08 20:54] #527 closed

[2022-04-11 19:35] #563 closed

[2022-04-11 20:33] ijpulidos opened #571 "Add to real time output: n_equilibration_iterations, statistical_inefficiency"

[2022-04-12 10:22] mjw99 commented on #567
In local testing, in a VM mock of the CI environment, I find that this occurs specifically with the conda package:
[code]
Conversely, the packages:
[code]
both work.

[2022-04-12 12:31] #571 closed

[2022-04-12 13:27] #567 closed

[2022-04-15 07:51] udlich opened #575 "How to convert check_point file into trajectory file?"
Hello everyone, is there some method to convert checkpoint into common trajectory files like dcd or crd, such that I can load it into VMD? Thank you!

[2022-04-19 04:18] udlich opened #579 "openmmtools0.21.3 equilibration protocol forgets to broadcast _replica_thermodynamic_states"
In #562  PR, [ijpulidos](https://github.com/ijpulidos) modified the run() function in multistatesampler to broadcast _replica_thermodynamic_states, while in #556 [jfennick](https://github.com/jfennick) revised the equilibrate() function such that mixing was incorporated. Now there is a gap between the two revisions: in equilibrate() _replica_thermodynamic_states is not broadcasted.

[2022-04-19 06:22] mikemhenry commented on #579
@ijpulidos can you take a look at this when you get a chance?

[2022-04-19 06:49] udlich commented on #579
This is indeed a very simple thing, just copy [ijpulidos](https://github.com/ijpulidos) code 'self._replica_thermodynamic_states = self._mix_replicas()' to equilibrate() section. I just want to remind everyone of this.

[2022-04-22 19:31] ijpulidos commented on #579
@udlich Yes, this should be done for correctness, thanks for catching this! Just wanted to mention that in this case this is not too problematic since the `equilibrate()` method is not being run inside an MPI context (which was the original motivation for #562 ), as far as I can tell. But in any case, we should make sure the thermodynamic states are updated by appending that line. Thanks again!

[2022-04-28 11:32] clarktemple03 opened #581 "Accessing context during ReplicaExchange"
I am attempting to run Replica Exchange for a system and would ideally like to access the context during the course of the simulation run in order to extract the forces. However I cannot seem to grab the appropriate context to do so.

Below is a code snippet for a simple 2-bead harmonic oscillator I wrote as a test for replica exchange. The primary issue is that . To my understanding of the docume

[2022-04-28 16:58] zhang-ivy opened #582 "Resuming repex simulation with restraint yields instabilities"
I am running repex experiments on barnase:barstar with restraints (so that I can determine whether there is a sampling problem) and I've noticed that when I resume a simulation with restraints, I see instabilities in the potential energies.

For A42T complex phase (using a restraint with force constant = 100 kcal/molA^2):
![image](https://user-images.githubusercontent.com/35546250/165803219-f7d3c5

[2022-05-03 22:03] ijpulidos commented on #582
@zhang-ivy I tried reproducing the issue but I don't see it here (running on lilac). I thought it was because you were using a previous version of `openmmtools`, and now we are adding the
velocities to the `.nc` files, but I run the simulations with a previous `0.21.2` version and I see the same results. I run 300 steps before resuming.
![equilibration_ommtools0212](https://user-images.githubuserc

[2022-05-09 20:24] zhang-ivy commented on #526
Note from perses dev sync on May 9th: We also want to make d_u/d_lambda available during the simulation.

[2022-05-12 16:27] mikemhenry commented on #549
Removed code climate and will replace with a linter

[2022-05-12 16:27] #549 closed

[2022-05-13 21:40] ijpulidos commented on #581
Thanks for the feedback. We would need to dig into this, but as far as I know there is no easy way to access the replica positions directly from the python objects. I know you should be able to do this extracting the information from the checkpoint file, which is not ideal.

[2022-05-13 23:02] ijpulidos opened #583 "Inform platform being used in the simulation"
It should be useful to inform users what `platform` is being used for the simulation.

We should be able to get this information once the contexts get created in the samplers.

[2022-05-16 21:00] IAlibay opened #584 "MultistateSampler - make iteration logging info level instead of debug?"
Discussing things with @mikemhenry today, it would be quite useful if we could get a general sense of run progression for MultistateSampler derived classes without getting all the debug information that usually comes along with it.

I am specifically referring to the following two logging events:

https://github.com/choderalab/openmmtools/blob/main/openmmtools/multistate/multistatesampler.py#L683

[2022-05-18 19:37] mikemhenry commented on #548
Now the default is to point to stable.

[2022-05-18 19:37] #548 closed

[2022-05-20 05:03] tanmoy7989 commented on #487
Is demultiplexing now included in `MultistateAnalyzer`. I'm still fairly new to the openmm environment (and openmmtools as well), so didn't go through the `MultiStateAnalyzer` methods in detail before asking.

[2022-05-28 14:27] mjw99 commented on #224
./openmmtools/data/dhfr/prmtop is using the pre-AMBER 7 format, hence AmberPrmtopFile will not be able to parse it. We could update ./openmmtools/data/dhfr/{prmtop,inpcrd} to an updated AMBER 7 format?

[2022-05-29 14:40] mjw99 commented on #224
Duplicate of #539

[2022-05-29 14:40] #224 closed

[2022-05-31 16:27] mikemhenry commented on #539
Closed with https://github.com/choderalab/openmmtools/pull/588

[2022-06-02 17:56] #579 closed

[2022-06-02 18:42] #452 closed

[2022-06-07 18:45] mikemhenry opened #592 "Don't use online analysis to set offline analysis matrix dim"
We want to make sure the `_offline_analysis` works. `_online_analysis` is experimental and can be neglected for now. We need to make sure the matrix/array dimensions include the endstates for the offline analysis.

[2022-06-07 18:55] zhang-ivy commented on #592
I think we had discussed that this can be part of the next milestone, actually.

[2022-06-07 18:57] mikemhenry commented on #592
Yes I made this issue as we were talking about it, I've bumped it!

[2022-06-07 18:58] zhang-ivy commented on #592
Just going to elaborate on this. We basically want to avoid initializing `initial_f_k` (in offline analysis) with the `self._last_mbar_f_k` used for online analysis.

Going to assign this to @ijpulidos , but we can work together on this if needed.

[2022-06-07 19:00] zhang-ivy commented on #592
We may also want to add to the docstring an explanation of online vs offline analysis -- i.e. both compute the free energies, but online is a more a crude estimate.

[2022-06-07 19:00] zhang-ivy commented on #592
We'll also want to open an issue concerning adapting the online analysis to include unsampled endstates.

[2022-06-07 19:01] zhang-ivy commented on #592
Note that we may also want to consider opening an issue for renaming `self.online_analysis_interval` to `self.offline_analysis_interval`

[2022-06-07 22:50] mikemhenry commented on #402
code coverage would be nice too!

[2022-06-07 23:55] #592 closed

[2022-06-08 16:24] ijpulidos opened #594 "Test `MultiStateSampler._offline_analysis`"
From working in #593 it was noted that we need better testing for the offline analysis and MBAR estimates that end up in the real time analysis file.

[2022-06-08 19:07] ijpulidos commented on #592
Yes, I think this is already a `TODO` in the code, but I'll be opening an issue for this. The problem with this change is that it could break backwards compatibility (which we'd probably have to anyways, at some point).

[2022-06-08 19:10] ijpulidos opened #595 "Renaming (or aliasing?) `online_analysis_interval`"
Note that we may also want to consider opening an issue for renaming `self.online_analysis_interval` to `self.offline_analysis_interval`

_Originally posted by @zhang-ivy in https://github.com/choderalab/openmmtools/issues/592#issuecomment-1149053115_

[2022-06-08 19:12] ijpulidos commented on #595
This could potentially break backwards compatibility, even though we have been using the `online_analysis_interval` for running the `_offline_analysis` method for a long time now. We could try just making an alias it so that these two point to the same thing, at least for some time. But I guess that when we fix the now experimental `_online_analysis` method, we want them to be independent.

Anothe

[2022-06-13 12:44] clarktemple03 opened #596 "Positions not updating during PT simulation"
Hello I am attempting to run some PT simulations, but there is something kind of funky going on. Whenever I set up the simulation and run the positions do not seem to update. Below is a sample script with a little extra thrown in as I am trying to extract out the forces and positions for a particular replica during the simulation run (rather naively at the moment by creating a new simulation conte

[2022-06-23 15:21] zhang-ivy opened #597 "MultiStateSampler fails to delete properly when resuming the simulation"
When I resume a repex simulation, everything runs ok until the end of the script, when it tries to delete the `MultiStateSampler`:
[code]

This only happens when I resume a simulation (not when I start a simulation from scratch).

I am attaching an example for ALA->THR dipeptide in vacuum. If you want to try to reproduce the error, you'll need to run the  script with total_iterations > 5000 (since

[2022-06-23 22:44] ijpulidos commented on #584
This sounds like something we definitely should improve. Thanks for the feedback! I don't know if @mikemhenry is already working on this, but I'm happy to give this a try, probably some day next week if it isn't that urgent.

[2022-06-28 16:14] ijpulidos commented on #597
@zhang-ivy Thanks for looking into this. It sounds like the `nc` file might not be getting properly closed after being read. What surprises me is that it only happens when resuming the simulation, so you are right that the problem should be related to the `from_storage` method.

I will be taking a closer look into this, and let you know what I find, thanks again for the feedback.

[2022-07-01 12:54] zhang-ivy commented on #531
@ijpulidos : I just checked to see if this issue was resolved, but I am still seeing the same issue, even when using openmmtools >= 0.21.3 (the PR for saving velocities in the checkpoint file was introduced in 0.21.3).

I ran repex on ala->thr dipeptide in solvent with `reassign_velocities=False`:
[code]

Here is the potential energy vs time plot:
![image](https://user-images.githubusercontent.com

[2022-07-01 17:20] mikemhenry commented on #531
I guess the next step is to confirm that we really are using the velocities that we save. Another thing that could be weird is, depending on the integrator, it might either need the forces saved or some sort of flag to calculate the forces before doing a step.

[2022-07-03 21:24] jchodera commented on #531
@mikemhenry : We're missing test coverage of velocity restoration, so I'd start there.

For example:
* [This test](https://github.com/choderalab/openmmtools/blob/2ca4be3c173621db8de6de48f6ab0ca4e5935037/openmmtools/tests/test_sampling.py#L362) only checks positions
* [Here too](https://github.com/choderalab/openmmtools/blob/2ca4be3c173621db8de6de48f6ab0ca4e5935037/openmmtools/tests/test_sampling.p

[2022-07-04 01:29] jchodera commented on #596
Apologies for the late reply here---we're still understaffed in supporting this repo at the moment, but hoping to change this soon.

My guess is that the issue is that the `GHMCMove` is not accepting any proposed moves.
You can try changing this block:
[code]
to something that doesn't include a Metropolization step. We frequently use this:
[code]

[2022-07-06 16:37] ijpulidos commented on #597
@zhang-ivy I tried using `MultiStateSampler` directly and I cannot reproduce the issue (I'm attaching the code to this comment), that makes me think it might be something on the `perses` side with the `HybridRepexSampler` or the `HybridCompatibilityMixin` class. If you want to try my code you should just run the `597-multisampler-create.py` first, and then just the `597-multisampler-resume.py`, in

[2022-07-06 23:31] zhang-ivy commented on #597
I just went back to find the code for you to reproduce the nc file and i realized i was not using the most recent openmmtools release (0.21.4). When I switch to a newer env that uses 0.21.4, I am not able to reproduce the problem. Closing this, as it must have been resolved at some point.

[2022-07-06 23:31] #597 closed

[2022-07-10 01:12] jchodera opened #599 "Switch LangevinDynamicsMove from openmm.LangevinIntegrator to openmm.LangevinMiddleIntegrator"
We should switch `LangevinDynamicsMove` from `openmm.LangevinIntegrator` (based on OBABO) to `openmm.LangevinMiddleIntegrator` (based on BAOAB) to provide better configuration-space accuracy.

[2022-07-10 01:49] jchodera opened #601 "Update Major Contributors"
We should add @ijpulidos @mikemhenry @zhang-ivy @dominicrufa to the [list of major contributors in the README](https://github.com/choderalab/openmmtools/blob/main/README.md#contributors).

[2022-07-13 17:52] ijpulidos opened #603 "Resuming and basic tests with MPI context"
While working on #602 it was noted that the issue is only relevant when the simulations are run using 2 or more MPI processes (multiple GPUs). Therefore, we need a way to test similar scenarios in our software, since some of these bugs are MPI-specific.

`mpiplus` is what we are using for creating and handling MPI contexts, it has a [Dummy MPI object here](https://github.com/choderalab/mpiplus/blo

[2022-07-13 19:33] mikemhenry commented on #603
This looks useful as well https://github.com/mpi4py/setup-mpi

[2022-07-14 20:18] #599 closed

[2022-07-16 22:24] jchodera commented on #603
If we are already installing `mpiplus` as part of `openmmtools` dependencies (which in turn installs `mpi4py`), we shouldn't need to do anything special to test on MPI other than to run `mpirun -np 2 <our normal python CLI here>`. The question is how we can have `pytest` launch MPI tests.

Perhaps the [`pytest-mpi`](https://pypi.org/project/pytest-mpi/) plugin is needed here? It seems to enable us

[2022-07-18 20:09] ijpulidos opened #607 "Port notebook analysis from Yank"
We want to port the notebook analysis and analyzer objects to `openmmtools`.

CC https://github.com/choderalab/yank/issues/1282

[2022-07-19 16:24] #583 closed

[2022-07-19 19:49] jchodera opened #608 "Allow integrator tolerance to be specified for mcmc.LangevinDynamicsMove"
Currently, [`mcmc.LangevinDynamicsMove`](https://github.com/choderalab/openmmtools/blob/main/openmmtools/mcmc.py#L1018-L1156) does not allow the integrator tolerance to be specified. We should add this as an optional argument to the initializer and enable it to be a public attribute that the user can change later.

[2022-07-19 21:15] zhang-ivy opened #609 "Adapt _get_equilibration_data_per_sample() to discard the first 1% of samples by default"
Change this line https://github.com/choderalab/openmmtools/blob/47f59f71aefe574b477a1a4949bd2ef653148c9e/openmmtools/multistate/utils.py#L180  to return `i_t[1:], g_i[1:], n_effective_i[1:]`

And make a note that the first 1% is being discarded due to equilibration because it throws off the t0 estimate otherwise
Note that the arrays returned will be of size `max_subset - 1`

[2022-07-20 00:55] #601 closed

[2022-07-25 19:18] ijpulidos commented on #609
I wonder if we want to add a new optional parameter to the function to allow specifying the percentage of the samples we would like to discard. That is, if we want to be able to discard more or less in different scenarios, but keeping 1% as the default value.

[2022-07-25 20:35] ijpulidos commented on #609
We want to make sure we use `ceiling` to round it up when we compute the number of samples.

[2022-07-26 22:42] zhang-ivy commented on #609
@jchodera : I'm realizing that this fix isn't as simple as I thought it would be. In https://github.com/choderalab/openmmtools/pull/586, I introduced options for the user to specify the `statistical_inefficiency` and `n_equilibration_iterations`, but I think are problems with how I implemented it.

The main function that is affected by the aforementioned PR is
[`_get_equilibration_data()`](https:/

[2022-07-27 00:34] jchodera commented on #609
I didn't think it would be all that bad to discard just 1% of the data, but I think this is the point of allowing the user to specify the number of time origins to evaluate when identifying the optimal equilibration transition point: By default, 100 will discard no more than 1% of the data. If you're willing to wait longer, you can specify 1000. But we should probably always ignore the first time

[2022-07-28 19:47] ijpulidos opened #612 "Load serialized files generated with openmmtools<=0.21.2"
When trying to load simulation results from netcdf files generated with `openmmtools<=0.21.2` we encounter that the velocities are not present, since they were added in [0.21.3](https://github.com/choderalab/openmmtools/releases/tag/0.21.3). This results in an error when deserializing as follows
[code]
We should be able to read older serialized `.nc` files with up to date versions of `openmmtools`

[2022-07-28 21:13] jchodera commented on #612
Catching the KeyError to make this backward compatible sounds like a good
idea!

[2022-08-01 21:40] #609 closed

[2022-08-01 21:54] ijpulidos opened #614 "Check for broad `Exception` when raising errors"
Some check and errors are raised with generic `Exception` objects, this can lead to some troubles in the future even if we are safe now.

We should enhance our code base and create and raise specific exceptions when dealing with errors.

As a first pass I detected the following parts in the code (not tests) where we may be facing this issue:

[code]

[2022-08-01 22:00] mikemhenry commented on #614
I think that unless we have some clear-cut ones that could use further classification, making these `OpenmmtoolsError` is probably good enough.

[2022-08-02 00:59] ijpulidos opened #615 "Realtime analysis output failing when output has no subdirectory"
In #561 the realtime analysis file was introduced but the path for it did not account for simulations where the results are to be generated in the same current owrking directory, resulting in the wrong path and a `PermissionError` like the following, when trying to write the yaml file.
[code]
This can be solved by using `os.path.join` instead of f-strings when dealing with paths.

[2022-08-02 16:47] #615 closed

[2022-08-02 18:51] #612 closed

[2022-08-02 20:19] #608 closed

[2022-08-03 21:13] zhang-ivy opened #618 "Deserializing nc file generated with openmmtools < 0.21.5 yields key error when loading with openmmtools 0.21.5 because of missing constraint tolerance"
[code]
[code]

Note that Mike was worried about this in this PR: https://github.com/choderalab/openmmtools/pull/611

[2022-08-03 21:24] ijpulidos commented on #618
This happens when trying to directly read the mcmc moves using the public API point `MultiStateReporter.read_mcmc_moves`. Just to realize that when resuming the simulations the moves are instantiated through the sampler `from_storage` method. As per https://github.com/choderalab/openmmtools/pull/611#issuecomment-1201979984

My guess is that the impact of this is not big, but this is a bug, since w

[2022-08-03 22:48] ijpulidos commented on #618
To reproduce the problem you can use the nc files attached here and run the following script using them
[code]

[alanine_dipeptide_legacy.tar.gz](https://github.com/choderalab/openmmtools/files/9255457/alanine_dipeptide_legacy.tar.gz)

[2022-08-03 23:29] mikemhenry commented on #618
I thought we had this tested?

[2022-08-09 16:30] ijpulidos commented on #618
So, it was tested by resuming simulation, which use the `MultiStateSampler.from_storage` method, but we didn't really test using the `reporter.read_mcmc_moves` public API point directly (my bad!).

[2022-08-17 00:28] mikemhenry commented on #614
Also see #523

I was bit by this again recently and came here to make the issue :)

[2022-08-23 22:52] yihengwuKP opened #620 "Documentation for Parallel Tempering is not properly generated"
I recently notice that the documentation for [parallel tempering](https://openmmtools.readthedocs.io/en/latest/multistate.html#parallel-tempering) is empty but the docstring is present in the [code](https://github.com/choderalab/openmmtools/blob/main/openmmtools/multistate/paralleltempering.py). Presumably the workflow of the generation of the documentation is broken somewhere?

[2022-08-25 18:51] mikemhenry commented on #620
Thank you for pointing this out @yihengwuKP we are probably missing a call to autodoc somewhere. We will look into it!

[2022-08-26 09:16] RiesBen opened #621 "Sams Output file for real_time_analsysis defaults to root path /"
Hi OpenMMTools,

we currently run some SAMS over in OpenFE and encountered an strange bug:
(https://github.com/OpenFreeEnergy/openfe/issues/170)

`
PermissionError: [Errno 13] Permission denied: '/lig_p38a_3flw_lig_p38a_3fly_rep0_complex_real_time_analysis.yaml'
CRITICAL:mpiplus.mpiplus:MPI node 1/1 raised an exception and called Abort()! The exception traceback follows

Traceback (most recent cal

[2022-08-27 03:56] jchodera commented on #620
Thanks for catching this! None of the [multistate samplers](https://openmmtools.readthedocs.io/en/stable/multistate.html) have their API docs being rendered.

I believe this can happen when the module cannot be imported in the sphinx build environment. It's possible our required dependencies changed but the sphinx dependency list was not updated.

[2022-09-01 06:58] mikemhenry commented on #621
👋 This is fixed here https://github.com/choderalab/openmmtools/pull/616
The fix hasn't made it yet into a release.

[2022-09-01 06:58] #621 closed

[2022-09-08 14:21] ijpulidos opened #623 "`PeriodicNonequilibriumIntegrator` is not doing equilibration"
`PeriodicNonequilibriumIntegrator` seems to not be using the `nsteps_eq` parameter to perform any equilibration. Instead, users need to manually call `integrator.step(nsteps_eq)` to run an equilibration before the non-equilibrium part.

The signature of the class suggests that it should do this automatically.

[2022-09-08 16:37] mikemhenry commented on #620
Resolved with #622

[2022-09-08 16:37] #620 closed

[2022-09-08 17:02] mikemhenry commented on #620
Note you will have to select "latest" for the docs to render, since the most recent stable version is broken, but will be fixed on next release.

[2022-09-08 17:39] yihengwuKP commented on #620
cool, thanks!

[2022-09-10 05:33] jchodera commented on #623
I'm not sure this is unexpected behavior. The `PeriodicNonequilibriumIntegrator` is meant to set up an integrator that cycles through the following sequence:
[code]
However, we should update the [docstring example](https://github.com/choderalab/openmmtools/blob/main/openmmtools/integrators.py#L1932-L1958), since it doesn't show how to correctly measure forward and reverse work.

Here's the example

[2022-09-12 15:45] yihengwuKP opened #624 "File locking error when resuming a parallel tempering simulation on environment with MPI"
# Description
I found that if I try to extend a finished parallel tempering simulation from the netcdf file, this error would be thrown:
[code]
What is intriguing is, when I put the code for extending the simulation in the same script with the code for running the simulation, it works fine. It only raises issues when I first run the script of the simulation, and then try to extend it by another fi

[2022-09-17 16:41] yihengwuKP commented on #624
An update for this issue is, a temporary hack to solve this issue is adding one line in the second script:
[code]
because in the `mpiplus` it seems to use the the environment variables to check mpi environments. Removing the one that the slurm system seems to trick the code to disable the mpi. Personally I don't need MPI for this moment so this hack works for me now.
[code]

[2022-09-21 05:49] mikemhenry commented on #624
@yihengwuKP thank you for this very detailed report! :heart_eyes:

I don't have time to look into this right now, but I will make sure this gets triaged into a milestone. I know that @zhang-ivy has had success in using MPI, so perhaps there is something borked with the MPI environment where you are running your scripts. Do you have another HPC environment you can use to test if you can reproduce t

[2022-09-21 14:10] yihengwuKP commented on #624
Thanks Mike for your reply! by MPI environment do you mean openmpi/intelmpi or the `mpi4py` python package? I didn't load any openmpi/intelmpi and the output of `which mpirun` leads to the conda env, `path/to/conda/bin/mpirun`, which should correspond to the mpi4py?

[2022-09-23 18:55] mikemhenry commented on #624
I was referring to the MPI stack that cluster is using ie the `mpich` or `openmpi` binaries, but it sounds like you are using binaries from conda-forge. If you install mpi from conda-forge locally, can you reproduce the issue?

[2022-09-26 16:01] yihengwuKP commented on #624
Hi Mike, when you said "install mpi from conda-forge", do you mean the `mpi4py` package or something else? Sorry I don't know enough about mpi. I'll try to install `mpi4py` and see if I can reproduce the bug locally. Thanks for the follow up!

[2022-09-26 18:02] mikemhenry commented on #624
I mean something like `conda install mpi4py openmpi` in your environment, then you should be able to test the script with mpi locally.

[2022-09-26 18:05] yihengwuKP commented on #624
sure, will report after I test it! Thanks for the help

[2022-09-26 18:54] mikemhenry commented on #624
Thanks for the detailed bug report!

[2022-09-28 05:29] jchodera opened #671 "Set level to `INFO` for timing information for iteration"
We should turn on logging by default in examples/new-cli so users can monitor progress.

[2022-10-07 16:04] yihengwuKP commented on #624
Hi Mike, I did `conda install mpi4py openmpi` in my local machine, and now `which mpirun` gives me `/path/to/conda/envs/openmm/bin/mpirun`; `mpirun --version` gives me `mpirun (Open MPI) 4.1.4`. However, I still can't reproduce this in local, and still it will show `DEBUG:mpiplus.mpiplus:Cannot find MPI environment. MPI disabled.`. This is because in the code here
[code]
mpiplus use these env vari

[2022-10-11 11:30] mikemhenry commented on #624
Hmm, it could break things but you could try something like `export SLURM_PROCID=foo` to get around that check.

[2022-10-14 11:25] k2o0r opened #625 "Hamiltonian RepEx modifying a CustomHBondForce"
Hi,

I am trying to implement a sampling scheme similar to that implemented in this paper: https://link.springer.com/article/10.1007/s00232-014-9738-9

Basically what is needed is to create replicas with different values of the epsilon parameter in a CustomHBondForce, in a similar manner to how the electrostatic and steric components of the NonbondedForce or various bonded forces can be scaled usi

[2022-10-26 16:26] #625 closed

[2022-11-01 18:57] jchodera opened #626 "Add OpenMM 8 beta branch"
@mikemhenry : Would you be able to help us add a test branch with the OpenMM 8 beta?

[2022-11-01 19:30] mikemhenry commented on #626
Yes!

[2022-11-01 19:33] mikemhenry opened #627 "Clean up CI File"
The workflow file for our CI could be cleaned up, the matrix is clunkly, we can use a default for the shell, should switch to pytest

[2022-11-18 01:12] mattwthompson opened #629 "Compatibility with pymbar 4"
Are there plans to update this to work with the new pymbar? Is this something that I could help out with?

[2022-11-21 18:11] ijpulidos commented on #629
I don't think we have immediate plans for this, but I believe this is something we do want to support. Any help is appreciated! Thanks!

[2022-11-24 15:51] xiki-tempula opened #631 "About ReplicaExchangeSampler"
In the https://openmmtools.readthedocs.io/en/stable/gettingstarted.html#example-a-minimal-implementation-of-a-general-replica-exchange-simulation-class, it is mentioned that

This kind of implies that the replica exchange is not implemented yet. I could see that there is a ReplicaExchangeSampler, I wonder if it is possible to update the `gettingstarted` page and show how this can be used? Thank yo

[2022-11-25 11:50] xlimke opened #632 "How to define sampler_states in real system（in parallel tempering）"
I'm doing parallel tempering with openMM-plumed.

According to  #547 the key method is:
`def create(self, thermodynamic_state, sampler_states: list, storage,
                  min_temperature=None, max_temperature=None, n_temperatures=None,
                   temperatures=None, **kwargs):`

sampler_states is referred to :

In the example, `sampler_states` is defined as `states.SamplerState(testsys

[2022-11-25 15:41] richardjgowers opened #633 "PhaseAnalyzer del causing error."
The delete operator on PhaseAnalyzer seems to be tripping up.  PR to follow

typical traceback below
[code]

[2022-11-28 15:16] xiki-tempula opened #635 "About a wrapper on context and integrator as a simulation object"
So the openmmtools way of running a simulation would be

[code]

However, this would mean that one would need to do all the `openmm.Simulation.reporters` manually. For example,

[code]
This would mean that there will be a very high cost on the frequent CPU-GPU communication.

 I wonder if there is any wrapper that allows one to create a openMM `Simulation` object and do.

[code]
type of thing. pre

[2022-11-28 19:32] ijpulidos opened #636 "Test against openmm 8 beta"
We should test against `openmm 8` beta, probably using the `conda-forge/label/openmm_dev` channel, since the `conda-forge/label/openmm_rc` has shown some problems. More info at: https://github.com/choderalab/perses/pull/1124